<extend name="Base/uc-common" />
<block name="style">
<link rel="stylesheet" type="text/css" href="__CSS__/user.css" />
</block>
<block name="submenu">
<ul>
  <li><a href="{:U('Message/index')}">我的私信</a></li>
  <li class="cur"><a href="{:U('Message/system')}">系统通知</a></li>
</ul>
</block>
<block name="detail">
<div class="userright2 ri">
  <ul class="mes">
  <volist name="messages" id="vo">
    <li><dl>
      <dd class="detail" style="width:650px;">
        <div class="d">系统消息 ({$vo.add_time|time_format="Y-m-d H:m:s"})</div>
        <div class="from"><b>{$vo.content}</b></div>
      </dd>
      <dd class="cz"><a href="{:U('setStatus?Model=Message&type=-1&status=2&ids='.$vo['id'])}" class="btn-delete">删除</a></dd>
    </dl></li>
  </volist>
  </ul>
</div>
</block>
<block name="script">
<script type="text/javascript">
  // 指定左侧选中菜单
  var submenu = "{:U('Message/index')}";
  $(".btn-delete").click(function() {
    $.get($(this).attr('href'), function(data){
      if (data.status == 1) {
        layer.alert(data.info, 9, function(){window.location.reload();});
      } else {
        layer.alert(data.info, 8);
      }
    });
    return false;
  });
</script>
</block>