<style>
	.leader{margin:20px 40px;}
	.pj-title{font-size:20px; margin-bottom: 20px}
	.pj-title span{font-weight: bold; color:#666;}
	.leader input[type='text'] {padding: 5px;margin-left: 10px; width: 200px}
	.leader .btn-parent {margin: 30px 70px;}
</style>
<div class="leader">
	<p class="pj-title">项目名称：<span>{$project.project_name}</span></p>
	<form action="{:U()}" method="post">
		<input type="hidden" name="id" value="{$project.id}">
		<div>所属机构：
		 	<select name="oid" id="J_group">
	     		<option value="0">请选择所属机构</option>
				<volist name="info" id="vo">
					<option value="{$vo.id}">{$vo.name}</option>
				</volist>
			</select>
		</div>
			
		<div style="margin-top:10px;">项目经理：
		 	<select name="mid" id="J_manager"><option value="0">请选择项目经理</option></select>
		</div>
		
		<div class="btn-parent"><input type="submit" value="确定" class="btn" id="leader-conform"></div>
	</form>
</div>
<script>
	$("#leader-conform").click(function() {
		var form = $(this).parents('form');
		$.post(form.attr('action'), form.serialize(), function(data) {
			alert(data.info);
			if (data.status == 1) {
				$.colorbox.close();
				window.location.reload();
			}
		});
		return false;
	});
	
	$('#J_group').change(function(){
		var pid_g=$(this).children('option:selected').val();
		$.post('{:U("getManagerList")}', {pid: pid_g}, function(result){
			$("#J_manager").show().html(result);
		});
	});
	
	
</script>