<extend name="Public/base"/>

<block name="body">
<!--    <div class="main-title">
        <h2>{$info['id']?'编辑':'新增'}信息</h2>
    </div> -->
    <form action="__SELF__" method="post" class="form-horizontal">
    	<input type="hidden" name="kid" value="{$proagr['id']}">
    <!--    <div class="form-item">
            <label class="item-label">关键字</label>
            <div class="controls">
                <input type="text" class="text input-large" name="key_word" value="{$info.id}">
            </div>
        </div>-->
        <div class="form-item"> 
            <label class="item-label">请选择协议</label>
                <select name="select">
                    <option value="null">默认</option>
                    <volist name="agr" id="vo">
                        <if condition="$proagr['agreement'] eq $vo['id']">
                            <option value="{$vo.id}" selected="selected">{$vo.key}</option>
                        <else />
                            <option value="{$vo.id}">{$vo.key}</option>
                        </if>
                    </volist>
                </select>
        </div> 
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Info/index')}');
    </script>
</block>
