<extend name="Base/common" />
<block name="style">
<link href="__M_CSS__/login.css" rel="stylesheet" type="text/css">
<link href="__M_CSS__/index.css" rel="stylesheet" type="text/css">
</block>
<block name="body">

<section id="news_nav">
  <a href="{:U('MCenter/pj_support')}">已支持</a>
  <a class="physical_nav1">已发布</a>
  <a href="{:U('MCenter/pj_attach')}">已收藏</a>
</section>
<section id="physical_main">
  <div class="list_cp1">
    <!--item-->
    <div class="item selected">
      <div class="list_zu">
          <div class="physical_kuang">
            <div class="list_zu1"> 
              <img width="100%" height="100%" src="__M_IMG__/m1.jpg">
            </div>
            <div class="list_zu2">
              <ul>
                <li><h3>项目名称：快乐高尔夫</h3></li>
                <li><b>已投人数：20人</b><h2>状态：合投中</h2></li>
                <li>
                  <span class="attr prograss">
                  <div class="physical_bfb bar animateBar" data-animatetarget="60" style="width: 60%;"></div>
                  </span>
                  <h4 class="animateNum" data-animatetarget="60">60</h4><h5>%</h5>
                </li>
              </ul>
            </div>
          </div>
          <div class="physical_rtje">
            <dd>已认投金额：<span class="animateNum physical_sz" data-animatetarget="999.9">999.9</span><b>万</b></dd>
            <p><a href="#">取消收藏</a></p>
          </div>
        </div>
      </div>
       <!--item-->
      <div class="item">
                <div class="list_zu">
          <div class="physical_kuang">
            
            <div class="list_zu1"> 
              <img width="100%" height="100%" src="__M_IMG__/m1.jpg">
            </div>
            <div class="list_zu2">
              <ul>
                <li><h3>项目名称：快乐高尔夫</h3></li>
                <li><b>已投人数：20人</b><h2>状态：合投中</h2></li>
                <li>
                  <span class="attr prograss">
                  <div class="physical_bfb bar prograss_bar_yellow animateBar" data-animatetarget="30" style="width: 30%;"></div>
                  </span>
                  <h4 class="animateNum" data-animatetarget="60">60</h4><h5>%</h5>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="physical_rtje">
            <dd>已认投金额：<span class="animateNum physical_sz" data-animatetarget="999.9">999.9</span><b>万</b></dd>
            <p><a href="#">认投统计</a><a href="#">我要认投</a></p>
          </div>
        </div>
      </div>
      <!--item-->
      <div class="item">
                <div class="list_zu">
          <div class="physical_kuang">          
            <div class="list_zu1"> 
              <img width="100%" height="100%" src="__M_IMG__/m1.jpg">
            </div>
            <div class="list_zu2">
              <ul>
                <li><h3>项目名称：快乐高尔夫</h3></li>
                <li><b>已投人数：20人</b><h2>状态：预热中</h2></li>
                <li>
                  <span class="attr prograss">
                  <div class="physical_bfb bar prograss_bar_yellow animateBar" data-animatetarget="30" style="width: 30%;"></div>
                  </span>
                  <h4 class="animateNum" data-animatetarget="60">60</h4><h5>%</h5>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="physical_rtje">
            <dd>已认投金额：<span class="animateNum physical_sz" data-animatetarget="999.9">999.9</span><b>万</b></dd>
            <p><a href="#">认投统计</a></p>
          </div>
        </div>
      </div>
      <!--item-->
      <div class="item">
                <div class="list_zu">
          <div class="physical_kuang">          
            <div class="list_zu1"> 
              <img width="100%" height="100%" src="__M_IMG__/m1.jpg">
            </div>
            <div class="list_zu2">
              <ul>
                <li><h3>项目名称：快乐高尔夫</h3></li>
                <li><b>已投人数：20人</b><h2>状态：预热中</h2></li>
                <li>
                  <span class="attr prograss">
                  <div class="physical_bfb bar prograss_bar_yellow animateBar" data-animatetarget="30" style="width: 30%;"></div>
                  </span>
                  <h4 class="animateNum" data-animatetarget="60">60</h4><h5>%</h5>
                </li>
                
              </ul>
            </div>
          </div>
          
          <div class="physical_rtje">
            <dd>已认投金额：<span class="animateNum physical_sz" data-animatetarget="999.9">999.9</span><b>万</b></dd>
            <p><a href="#">认投统计</a></p>
          </div>
        </div>
      </div>
      <!--item-->
      <div class="item">
                <div class="list_zu">
          <div class="physical_kuang">          
            <div class="list_zu1"> 
              <img width="100%" height="100%" src="__M_IMG__/m1.jpg">
            </div>
            <div class="list_zu2">
              <ul>
                <li><h3>项目名称：快乐高尔夫</h3></li>
                <li><b>已投人数：20人</b><h2>状态：预热中</h2></li>
                <li>
                  <span class="attr prograss">
                  <div class="physical_bfb bar prograss_bar_yellow animateBar" data-animatetarget="30" style="width: 30%;"></div>
                  </span>
                  <h4 class="animateNum" data-animatetarget="60">60</h4><h5>%</h5>
                </li>
                
              </ul>
            </div>
          </div>
          
          <div class="physical_rtje">
            <dd>已认投金额：<span class="animateNum physical_sz" data-animatetarget="999.9">999.9</span><b>万</b></dd>
            <p><a href="#">认投统计</a></p>
          </div>
        </div>
      </div>
  </div>
  <div class="list_gd">
    <a href="#">查看更多（每次加载5条显示）</a>
  </div>
</section>
</block>