<extend name="Base/common" />
<block name="style">
<link href="__M_CSS__/login.css" rel="stylesheet" type="text/css">
<link href="__M_CSS__/index.css" rel="stylesheet" type="text/css">
</block>
<block name="body">
<section id="news_nav">
  <a href="{:U('MCenter/pr_support')}">已支持</a>
  <a href="{:U('MCenter/pr_create')}">已发布</a>
  <a class="physical_nav1">已收藏</a>
</section>
<section id="physical_main">
  <div class="list_cp1">
		<!--item-->
     <div class="item selected">
        <div class="list_zu">
					<div class="physical_kuang">
						<div class="list_zu11"> 
							<img width="100%" height="100%" src="__M_IMG__/m1.jpg">
						</div>
						
						<div class="list_zu21">
							<ul>
								<li><h3>项目名称：快乐高尔夫</h3></li>
								<li><b>目标金额：100,000</b><h2>状态：众筹中</h2></li>
							</ul>
						</div>
					</div>
					
					<div class="physical_rtje1">
						<span>
							<h1>已筹<br>￥100,000</h1>
							<h1>进度<br>￥100%</h1>
							<h1>剩余时间<br>10天</h1>
						</span>
						<p><a href="#">取消收藏</a></p>
					</div>
				</div>
			</div>
			
			
			
			 <!--item-->
			<div class="item selected">
                <div class="list_zu">
					<div class="physical_kuang">
						<div class="list_zu11"> 
							<img width="100%" height="100%" src="__M_IMG__/m1.jpg">
						</div>
						
						<div class="list_zu21">
							<ul>
								<li><h3>项目名称：快乐高尔夫</h3></li>
								<li><b>目标金额：100,000</b><h2>状态：众筹中</h2></li>
								
							</ul>
						
						
						</div>
					</div>
					
					<div class="physical_rtje1">
						<span>
							<h1>已筹<br>￥100,000</h1>
							<h1>进度<br>￥100%</h1>
							<h1>剩余时间<br>10天</h1>
						</span>
						<p><a href="#">取消收藏</a></p>
					</div>
				</div>
			</div>
	</div>
  <div class="list_gd">
    <a href="#">查看更多（每次加载5条显示）</a>
  </div>
</section>
</block>