<extend name="Base/common" />
<block name="header">
	<style>
		.refuse {
			display: none;
		}
	</style>
</block>

<block name="body">
<div class="main">
	<div class="content">
<section>
<div class="usercontent clearfix">
<include file="Public/sidebar"/>
<div class="mcenter-right" id="mcenter-right">
	<div class="ShowPath">
		您现在的位置： 用户中心&nbsp;&gt;&nbsp;账户管理&nbsp;&gt;&nbsp;账户充值
	</div>
	<div>
		<div class="bs-docs-example" style="border: none;">
			<h2>账户充值</h2>
			<form class="login-form form-horizontal" action="__SELF__" method="post">
			
				<div class="control-group">
		            <label class="control-label" for="inputPassword">充值金额：</label>
		            <div class="controls">
			           <input type="text" id="amount"  class="span3" placeholder="请输入金额"  errormsg="请填写1-15位数字" value="" ajaxurl="{:U('validateRegister')}" nullmsg="请输入金额" datatype="n1-15" name="recharge">
			            	元
			            <span class="help-inline Validform_checktip"></span>
		              
		            </div>
				</div>
				<div class="control-group">
		            <div class="controls">
		              <button type="submit" class="btn">提 交</button>
		            </div>
	          	</div>
          
			</form>
		</div>
				
	</div>
	</div>
	</div>
</section>
</div>
</div>
</block>

<block name="side"></block>
<block name="script">
<script type="text/javascript" src="__STATIC__/Validform_v5.3.2.js"></script>

	<script type="text/javascript">

	//导航高亮
	highlight_subnav('{:U('MCenter/account')}');
	$(function(){
	      
	      $(".login-form").Validform({tiptype:3, 
	          ajaxPost:true,
	          callback:function(data){
	            if (data.status == '1') {
	              window.location.href = data.url;
	            } else {
	              $('.back_error').html(data.info);
	              $(".reloadverify").click();
	            }
	          }
	        }); 
	});

	</script>
</block>
