<extend name="Base/mobile-common"/>

<block name="header">
	<link rel="stylesheet" type="text/css" href="__CSS__/war/mobile_index.css">
	<style type="text/css">
		body{
			padding: 0;
		}	
	</style>
</block>

<block name="side">
</block>

<block name="body">
<!-- <div style="height:62px;"></div> -->
<div class="ui_banner" >
   <article style="background-image:url('__IMG__/war/mobile_banner.jpg');"></article>
</div>
<script type="text/javascript">
	
</script>
<div class="main">
		
	   <div class="">
			<h1 class="latest report" style="text-align: center;">押注未来</h1>
			<h2 class="latest report" style="text-align: center; color:#999">明珠怯了，<span style="color:red">你敢吗？</span></h2>
			<div class="ui-meter">
				<div class="ui-linear-leaf">
					
				<div>
					<h3 class="ui-num">人气指数</h3>
					<p class="ui-num-people ui-num-people-left">{$warLeft.count}</p>

					<div class="ui-rectangles ui-rectangles-left" style="height:{$barGraph.left}px;"></div>
					<p class="ui-num ui-count">支持总额</p>
					<h3 class="ui-support-amount">￥<span class="ui-support-amount-detail">{$warLeft.amount}</span></h3>

					<button href="#myModal" role="button" data-toggle="modal" class="bt-modal ui-support-button ui-support-button-left" id="bt-left" 
data-object="董明珠" data-ccount="{$warLeft.count}" data-aamount="{$warLeft.amount}" data-dbobject="d"
					>支持</button>
				</div>
				</div>


				<div class=" ui-linear-leaf-center ">
					
					<div id="ui-echarts"  style="height:225px;"></div>
					<br/>

					<p class="ui-p-bbbblll" style="color:#ed401e;">{$pieCharts.left}%</p>
					<p class="ui-who"  style="width: 30%;float: left;margin-top: 40px;"></p>
					<p class="ui-p-bbbblll" style="color:#18a0d2;">{$pieCharts.right}%</p>

					<p class="ui-center-text"  style="width: 100%;float: left;color: #636363;">才是最后的赢家<br/>
							<span style="font-size: 1.8em;color: #636363;display: inline-block;margin-top: 11px;font-weight: bold;">由你来决定</span>
					</p>
				</div>

				<div class="ui-linear-leaf ui-linear-leaf-right-positon">
					<h3 class="ui-num">人气指数</h3>
					<p class="ui-num-people ui-num-people-right">{$warRight.count}</p>
					<div class="ui-rectangles ui-rectangles-right" style="height:{$barGraph.right}px;"></div>	
					<p class="ui-num ui-count">支持总额</p>
					<h3 class="ui-support-amount-right">￥<span class="ui-support-amount-detail-right">{$warRight.amount}</span></h3>

					<button href="#myModal" role="button" data-toggle="modal" 
					class="bt-modal ui-support-button ui-support-button-right"
data-object="雷军" data-ccount="{$warRight.count}" data-aamount="{$warRight.amount}" data-dbobject="l"
					>支持</button>
				</div>
			</div>

				<img src="__IMG__/war/talk.png" style="width:96%;height:auto;margin-top:50px;">

			<div class="ui-comment">
				<div class="ui-one-comment">
					<h4>评论</h4>
					<div class="ui-one-comment-list">
					<empty name="listComment">
			           	<p class="">没有留言</p>
			    	<else />
						<ul>
				    		<foreach name="listComment" item="vo" >
							<li><p class="ui-comment-item">
								<if condition="$vo[support] eq 雷军">
									<span style="color:#18a0d2;">【雷】</span><span style="font-weight: bold;">{$vo.name}：</span><span class="">{$vo.content}</span>	
								<else />
									<span style="color:#ed401e;">【董】</span><span style="font-weight: bold;">{$vo.name}：</span><span class="">{$vo.content}</span>
								</if>
							</p></li>
				           	</foreach>
						</ul>
			       </empty>

					</div>
					<div style="clear:both"></div>
				</div>

			<form id="ui-fffrom" method="POST" action="">
				<div class="ui-one-comment">
					<h4>昵称</h4>
					<input type="text" name="name" placeholder="默认匿名" style="height:30px;width:31%;" class="ui-comment-right-marginleft ui-form-height ui-one-comment-form"></input>
					
					<h4 style="margin-left: 2%;width: 19%;">选择支持</h4>
					<select name="support" datatype="*" class="ui-form-height" nullmsg="必须选择支持"style="float:right;width: 32%;">
		              <option value="">请选择支持</option>
		              <option value="董明珠">董明珠</option>
		              <option value="雷军">雷军</option>
		            </select>
					<div style="clear:both"></div>

				</div>

				<div class="ui-one-comment ui-one-comment-textarea">
					<h4>我说</h4>
					<textarea name="content" datatype="*" rows="3" placeholder="支持TA大声说出来！" 
					class="ui-one-comment-form2 ui-comment-right-marginleft ui-form-height"
					nullmsg="请填写我说！"
					></textarea>
					<input type="submit" class="ui-comment-right-marginleft ui-one-comment-input ui-support-button ui-form-height ui-support-button-left" style="width:113px" value="发表评论"></input>
					<div style="clear:both"></div>
				</div>


				<div style="clear:both"></div>
			</form>
			</div> <!-- ui-comment END -->
		
			<div class="row" style="margin-bottom:20px">
			  <div class="span7">
			  	<h1 class="h1_bottom">事件回顾</h1>
					<iframe frameborder=0 src="http://v.qq.com/iframe/player.html?vid=n0123qhe29p&tiny=0&auto=0" allowfullscreen style="width:100%"></iframe>

				  
			  	<h1 class="h1_bottom" style="margin-top:30px;">最新资讯</h1>
			  	<ul class="ui_newinfo" style="font-size:16px;">
				  <li><a href="http://www.p5w.net/news/biz/201502/t20150211_951365.htm">董明珠：我和雷军一个在水上一个在路上 是两路人</a>
				  		<span class="muted">2015-02-11 09:30</span>
				  </li>
				  <li><a href="http://news.mydrivers.com/1/353/353925.htm">细数雷军和董明珠的爱恨情仇</a>
				  		<span class="muted">2014-12-16 08:25</span>
				  </li>
				  <li><a href="http://digi.163.com/14/1214/16/ADEIH5R200162OUT.html">董明珠：雷军和我打赌没意义 比专利我赢了</a>
				  		<span class="muted">2014-12-16 08:25</span>
				  </li>
				  <li><a href="http://news.mydrivers.com/1/353/353442.htm">雷军回应与董明珠10亿豪赌：再过一两年格力就输了</a>
				  		<span class="muted">2014-11-21 08:31</span>
				  </li>
				  <li><a href="http://news.mydrivers.com/1/353/353442.htm">雷军回应“小米是骗子”：董明珠认输了</a>
				  		<span class="muted">2014-12-15 12:38</span>
				  </li>
				  <li><a href="http://www.huxiu.com/article/24598/1.html">董明珠雷军10亿赌局是怎么设的？</a>
				  		<span class="muted">2013-12-12 23:01</span>
				  </li>
				</ul>
			  </div>
			  <div class="span3" style="float:right">
			  	<h1 class="h1_bottom">活动介绍</h1>
			  	<div class="ui-panel">
			  		<p style="margin:10px;">
			  			&nbsp;&nbsp;&nbsp;&nbsp;如今我们有幸身处互联网风起云涌的大时代，王健林、马云约战传统商业和电商；董阿姨、雷布斯较劲工业的未来模式。在这样一个伟大的时代我们怎能只是观战！公羊会发起大家一起挑战未来，你眼中的未来工业是董阿姨眼中的扎实传统模式还像雷布斯一样贴近用户、抓住用户就能抓住一切！</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;公羊会，发起公益挑战：押注未来！如董雷赌局约定结束时，支持方获胜的支持金额将全部返还；反之，支持金额将全部捐助公羊会公益大学项目。</p>

				<div style="clear:both"></div>

			  	</div>
			  </div>
			</div>
	       
			<!-- bannnnnnnnner -->
	       <img src="__IMG__/war/bottom_banner.png" width="100%" style="width: 100%;">

	       <div>
			  <div>
			  	<h1 class="h1_bottom">活动发起</h1>
			  	<div class="clearfix">
			  		<img src="__IMG__/war/gongyang.png" style="width:100%" class="activity_support2">
			  		<img src="__IMG__/war/gongyang1.jpg" style="" alt="activity_support2">
			  		<span style="font-size:25px;font-weight:bolder;line-height:30px;margin-top:10px;">公羊会 <br><span style="font-size:16px;font-weight:normal;">杭民政局登记号：0001</span></span>
			  	</div>
			  	<div style="font-size:14px;margin:10px 0">
			  		<p style="text-indent:1.2em">公羊队成立于2009年5月 ，全称：浙江省公羊会公益救援促进会。是公羊会下属的一支专门开展突发性城市应急救援，户外山林山难应急救援，国家次生灾害抗险救援，以及城市走失失智老人搜寻救助的民间公益救援队伍。</p>
			  		<p style="text-indent:1.2em">宗旨：救危助难，为社会出力；扶弱帮困，为政府分忧。</p>
			  		<p style="text-indent:1.2em">拥有400多名经过严格挑选、培训考核，具体扎实的相关救援知识及实战经验的志愿者。</p>
			  		<p style="text-indent:1.2em">在汶川，在玉树，在雅安，在余姚，在鲁甸，在景谷在一次次巨大自然灾害救援行动中，一直冲锋在前。</p>
			  		<p style="text-indent:1.2em">此外，公羊队除了执行应急救援行动以外，每年向社区居民及户外爱好者、学生进行百余次应急救援安全知识培训及常见意外伤害急救处理实际操作培训。同时，也组织开展助老、助孤、帮残、济困、助学和赈灾等社会公益帮扶活动。</p>
			  	</div>
			  </div>
			</div>

        </div> <!-- main 前一个 end -->
	          
	 
	 
	 <div class="clearfix"></div>
	 </div> <!-- main end -->


	 <!-- 弹框 -->
<!-- Button to trigger modal -->
  	<!-- Modal -->
<div id="messageBox" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="messageTitle" aria-hidden="true" data-keyboard="false">
  <div class="modal-header" style="background: white;">
    <button type="button" class="close" data-dismiss="modal" id="messageClose1" aria-hidden="true">×</button>
    <b id="messageTitle">提示信息</b>
  </div>
  <div class="modal-body">
    <p id="messagebody1"  style="margin:0;"><span id="messagebody" style='vertical-align: bottom;'></span></p>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="border-radius: 7px;z-index: 200000000;">
<style type="text/css">

</style>
  <div class="modal-header" style="background: white;padding:0px;height: 46px;">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 9px;">×</button> -->
      	<div class="mynav" style="backgrond:none;color:#969696;">
		  <div class="active " href="#ui-suuamount" data-toggle="tab">支持金额</div>
		  <div class="" href="#ui-supeople" data-toggle="tab" style="">支持人气</div>
		</div>

  </div>
  <div class="modal-body" style="padding:8px;">
    <div style="width:100%;" class="form-horizontal">
    	
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">支持对象</label>
		    <div class="controls">
		      	<div class="ui-object font14 marbottommmm wwfont-color font18" style="color:#;">ffff</div>
				<!-- <ul class="mynav  btn-group" >
				  <li class=""><a class="" href="#ui-suuamount" data-toggle="tab" style="border-right: 1px solid rgb(207, 205, 205);">支持金额</a></li>
				  <li class=""><a href="#ui-supeople" data-toggle="tab">支持人气</a></li>
				</ul> -->
		    </div>
		  </div>


<div id="myTabContent" class="tab-content">

	  <!-- 金额 弹框-->
  <div class="tab-pane fade in active" id="ui-suuamount">
<form action="{:U('War/saveSupport')}"  id="ui-supportttform" method="POST">
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">现在状态</label>
		    <div class="controls">
		       <div class="marbottommmm">
			       <span class="font18em">支持人气</span>&nbsp;&nbsp;&nbsp;<span class="ui-ccount wwfont-color font18">777</span>
			       	<br/>
			       <span class="font18em">支持金额</span>&nbsp;&nbsp;&nbsp;<span class="wwfont-color font18"><span class="ui-suamount ui-aamount">100000</span>元</span>
			       </div>
		    </div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="inputEmail">对TA说</label>
		    <div class="controls">
		      <textarea  name="say" datatype="*" id="inputEmail" style="width:96%"></textarea>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputcash">支持金额</label>
		    <div class="controls">
				<input type="text" datatype="n" name="amount" id="inputcash" placeholder="输入支持金额" style="width: 50%;">
		    </div>
		  </div>
		<div class="control-group">
		    <label class="control-label"></label>
		    <div class="controls">
		      <div class="input-append ui-bbbgggfff" >

			      <input type="hidden" name="object" class="ui-dbobject" value="">
			      <input type="hidden" name="type" class="ui-type" value="2">
				  <input type="submit" class="ui-xiayibu ui-comment-right-marginleft ui-one-comment-input ui-support-button ui-support-button-left" style="height:30px;width:100px;border-radius: 4px;" value="支持ta"></input>
				</div>
				  <!-- <div id="id-bbbgggfff" style="color:red;display:none">vvvvvvvvv</div> -->

		    </div>
		  </div>
		  
		</form>
	  </div>
	  <!-- 人气 弹框-->
	  <div class="tab-pane fade" id="ui-supeople">
<form action="{:U('War/saveSupport')}"  id="ui-supportttform-people" method="POST">
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">现在状态</label>
		    <div class="controls">
		       <div class="marbottommmm">
			       <span class="font18em">支持人气</span>&nbsp;&nbsp;&nbsp;<span class="ui-ccount wwfont-color font18">777</span>
			       	<br/>
			       <span class="font18em">支持金额</span>&nbsp;&nbsp;&nbsp;<span class="wwfont-color font18"><span class="ui-suamount ui-aamount">100000</span>元</span>
			       </div>
		    </div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="inputEmail">对TA说</label>
		    <div class="controls">
		      <textarea  name="say" datatype="*" id="inputEmail" style="width:96%"></textarea>
		    </div>
		  </div>
		  
		  <div class="control-group">
		    <label class="control-label" for="inputPassword"></label>
		    <div class="controls">
		      <div class="input-append" >
			      <input type="hidden" name="object" class="ui-dbobject" value="">
			      <input type="hidden" name="type" class="ui-type" value="1">

				  <!-- <button class="ui-comment-right-marginleft ui-one-comment-input ui-support-button ui-support-button-left" type="button" style="height:30px;width:100px;margin-left:30px;">下一步</button> -->
				  <input type="submit" class="ui-comment-right-marginleft ui-one-comment-input ui-support-button ui-support-button-left" style="height:30px;width:100px;border-radius: 4px;" value="支持TA"></input>
				</div>
		    </div>
		  </div>
		  
		</form>
	  </div>
	</div> <!-- myTabContent end -->

    </div>
   
  </div>

</div>

</block>
<block name="script">
	<script type="text/javascript" src="__STATIC__/Validform_v5.3.2.js"></script>

	<script src="__STATIC__/echarts/build/dist/echarts-all.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#ui-fffrom").Validform({tiptype:3,
				ajaxPost:true,
				callback:function(data) {
					if(data.status){
						alert(data.info)
						window.location.reload();
					} else {
						alert(data.info);
					}
				}
			});
			
			$("#ui-supportttform").Validform({tiptype:3,
				ajaxPost:true,
				callback:function(data) {
					if(data.status == 1){
						//alert(data.info)
						$('#myModal').modal('hide');
						$('#messagebody').html(data.info);
						$('#messageBox').modal('show');
				
						//window.location.reload();
					} else {
						alert(data.info);
						if (data.status == -1)
							window.location.href = data.url;
					}
				}
			});
			
			$("#ui-supportttform-people").Validform({tiptype:3,
			ajaxPost:true,
				callback:function(data) {
					if(data.status){
						alert(data.info)
						window.location.reload();
					} else {
						alert(data.info);
					}
				}
			});
			
                var myChart = echarts.init(document.getElementById('ui-echarts'));
                var option = {
                    tooltip : {
				        formatter: "{a} <br/>{b} : {c}%"
				    },
				    toolbox: {
				        show : false,
				        feature : {
				            mark : {show: true},
				            restore : {show: true},
				            saveAsImage : {show: true}
				        }
				    },
				    series : [
				        {
				            name:'最新战报',
				            type:'gauge',
				            startAngle: 180,
				            endAngle: 0,
				            center : ['50%', '90%'],    // 默认全局居中
				            radius : 90,
				            // radius : [200, '175%'],
				            // 半径，支持绝对值（px）和百分比，百分比计算比，min(width, height) / 2 * 75%， 
							// 传数组实现环形图，[内半径，外半径]
				            axisLine: {            // 坐标轴线
				                lineStyle: {       // 属性lineStyle控制线条样式
				                    width: 90,
				                    color: [
							            [0.2, '#2ec7c9'],
							            [0.8, '#5ab1ef'],
							            [1, '#d87a80']
							        ]
				                }
				            },
				            axisTick: {            // 坐标轴小标记
				            	show: false,
				                splitNumber: 10,   // 每份split细分多少段
				                length :12,        // 属性length控制线长
				            },
				            splitLine:{
				            	show: false,	
				            },
				            axisLabel: {           // 坐标轴文本标签，详见axis.axisLabel
				                formatter: function(v){
				                    switch (v+''){
				                        // case '10': return '低';
				                        // case '50': return '中';
				                        // case '90': return '高';
				                        default: return '';
				                    }
				                },
				                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
				                    color: '#fff',
				                    fontSize: 15,
				                    fontWeight: 'bolder'
				                }
				            },
				            pointer: {
				                width:30,
				                length: '90%',
				                color: 'rgba(255, 255, 255, 0.8)'
				            },
				            title : {
				                show : false,
				                offsetCenter: [0, '-60%'],       // x, y，单位px
				                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
				                    color: '#fff',
				                    fontSize: 30
				                }
				            },
				            detail : {
				                show : true,
				                backgroundColor: 'rgba(0,0,0,0)',
				                borderWidth: 0,
				                borderColor: '#ccc',
				                width: 50,
				                height: 40,
				                offsetCenter: [0, -40],       // x, y，单位px
				                // formatter:'{value}%',
				                formatter:'谁',
				                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
				                    fontSize : 50,
				                    color:'#636363',
				                    margin:'150px 0 0 0'
				                }
				            },
				            data:[{value: 50, name: '占比'}]
				        }
				    ]
                }
                // 为echarts对象加载数据 
                option.series[0].data[0].value = <?php print $pieCharts['right'] ;?>;
                myChart.setOption(option,true);
            // }
        // );
		
		$(".bt-modal").click(function(){
			console.log('vvvvvvvvvvv');
			$(".ui-object").text();
			$(".ui-object").text($(this).data('object'));

			$(".ui-ccount").text();
			$(".ui-ccount").text($(this).data('ccount'));

			$(".ui-aamount").text();
			$(".ui-aamount").text($(this).data('aamount'));

			$(".ui-dbobject").val();
			$(".ui-dbobject").val($(this).data('dbobject'));
			
			oobject = $(this).data('dbobject');
				$.get('{:U('war/getNewCountAmount')}',function(data){
					// console.log(data[oobject].count);
					// // console.log(data.oobject.count);
					// console.log(oobject);
					$(".ui-ccount").text();
					$(".ui-ccount").text(data[oobject].count);
					
					$(".ui-aamount").text();
					$(".ui-aamount").text(data[oobject].amount);
				},'json');
			// $(".ui-type").val();
			// type = 2; //默认
			// $(".ui-type").val(type);
		});

		$("[data-toggle='tab']").click(function(){
			$("[data-toggle='tab']").removeClass('active');
			$(this).addClass("active");
		});

		$("#Validform_msg").hide();
	}); /*$(document).ready(function(){ end*/
    </script>
</block>