<!-- 底部================================================== -->

<!-- 新加 -->
<div class="fl w100 foot">
    <div class="foot_warp">
        <div class="foot_top"><img src="__IMG__/foot_smile.png"></div>
        <!--<h1>假如人生不曾相遇，你不会了解世界还有这样一个我</h1>-->
        <h1>商学院 &nbsp;·&nbsp; 实业 &nbsp;·&nbsp; 金融 &nbsp;·&nbsp; 社群</h1>
        <!--<ul class="foot_text">
            <li><a target="_blank" href="{:U('Info/show?key=about')}">关于我们</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=xinshouzhiyin')}">新手指引</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=agreement')}">用户协议</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=shenmingshu')}">风险提示</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=fenpei')}">一塔湖图众筹规则</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=crowd')}">了解众筹</a></li>
        </ul>-->
        <ul class="foot_text">
            <li><a target="_blank" href="{:U('Info/show?key=about')}">认识一塔湖图</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=joinus')}">加入我们</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=fenpei')}">利益分配</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=shenmingshu')}">风险提示</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=invest')}">认投规则</a> 丨</li>
            <li><a target="_blank" href="{:U('Info/show?key=crowd')}">了解众筹</a></li>
        </ul>
        <div style="clear:both;"></div>
        <div class="foot_bottom">
            <ul class="foot_tg">
                <li class="wx" id="weixin_id">
                    <a target="_blank" class="footer-weixin" >微信</a>
                    <span class="weixin-qrcode"><img width="240" height="240" src="__IMG__/weixin.jpg" alt=""></span>
                </li>
               <li class="wb"><a href="http://weibo.com/5724180766" target="_blank">新浪微博</a></li>
                <li class="dh">400-806-8787</li>
            <!--  <li class="yx"><a target="_blank" href="mailto:zamazc@zamazc.com">bp@1tht.cn</a></li>-->
                <li class="yx">bp@1tht.cn</li>
            </ul>
        </div>
        <div class="foot_tag">Copyright © 2015 北京一塔湖图众筹科技有限公司 京ICP备15053117号-2</div>
    </div>
</div>
<!-- 新加 -->
<include file="Public/var"/>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden" style="display:none;"><!-- 用于加载统计代码等隐藏元素 -->
    <script src="http://s6.cnzz.com/z_stat.php?id=1253481980&web_id=1253481980" language="JavaScript"></script>
    <block name="hidden"></block>
</div>

<script>
	$('#weixin_id').mouseover(function(){
		//alert('a'); 会执行
		$('.weixin-qrcode').css('display','block');
		});
	$('#weixin_id').mouseout(function(){
		$('.weixin-qrcode').css('display','none');
		});
</script>