<!--[if lte IE 7]>
<div id="update-browser"
     style="background:#8E8E8E;color:white;width:960px;line-height:42px;position:absolute;left:50%;margin-left:-480px;z-index:9999;text-align:center;bottom:auto;:top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));">
    <span>
        您的浏览器版本过低。为保证最佳投资体验，您可以<a href="http://rj.baidu.com/soft/detail/14744.html" style="color:white">点击下载</a>
        <a href="http://rj.baidu.com/soft/detail/14744.html"
           style="color:white;text-decoration:underline;background:url('/Public/Home/images/chrome.png') 5px -2px no-repeat;padding-left:25px;">
            谷歌浏览器
        </a>
    </span>
    <a href="#" style="position:absolute;right:15px;top:0;color:white"
       onclick="document.getElementById('update-browser').style.display='none';return false;">以后再说 <span
            style="font-weight:bold">×</span></a>
</div>
<![endif]-->
<!--top -->
<div class="new_top">
<div class="tops2">
<span class="tops_fr">
    <if condition="is_login()">
        欢迎：<a href="{:U('MCenter/index')}" class="hover-link">{:get_username()}</a>&nbsp;&nbsp;&nbsp;</span>
        
    <else/>
        <a href="__APP__/User/login.html" >您好，请登录</a>|<a href="__APP__/User/register.html" >免费注册</a>&nbsp;&nbsp;&nbsp;</span>
</if> <span>  
<ul class="xxsk">
    <li><a href="#" class="am_phone" style="line-height: 20px">400-806-8787</a></li>
<!--   <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2756271724&site=qq&menu=yes" class="am_qq" target="_blank">&nbsp;</a></li> -->
   <li class="wxs" id="head_weixin_id"><a href="#" class="am_weixin">&nbsp;</a>
     <div class="wxbox" style="display: none"><img src="__IMG__/weixin.jpg" width="120" height="120" /></div>
   </li>
</ul>
  
<!-- 鼠标放上 移开时的效果-->
<script>
    $("#head_weixin_id").mouseover(function(){
        $(".wxbox").css("display","block");
    });
    $("#head_weixin_id").mouseout(function(){
        $(".wxbox").css("display","none");
    });
</script>


 
  
<!--<a href="/" class="top_hone">回到首页</a> -->

    </div>
</div>
<div class="clear"></div>

<!--top -->
<!-- 头部导航栏 -->
<div class="topbar">
    <div class="contentw">
        <div class="content">
            <h1 class="logo"><a href="{:U('Index/index')}"><img class="logo-img" src="__CSS__/../images/logo1.png" alt="一塔湖图的众筹"></a></h1>
            <ul class="nav" style="left:430px">
                <li><a href="{:U('Index/index')}">首页</a></li>
                <li><a href="{:U('List/index')}">浏览梦想</a></li>
                <li><a href="{:U('Project/create')}">发起项目</a></li>
                <li><a href="{:U('List/index',array('type'=>2,'status'=>0,'p'=>1))}">实物项目</a></li>
                <!--<li><a href="#">一塔湖图</a></li>-->
            </ul>
            <div class="top_login">
                <if condition="is_login()">
                    <a href="{:U('MCenter/index')}" class="hover-link">
                        <img class="avatar" src="{:get_memberface()}" alt="">
                        <span class="tri"></span>
                    </a>

                    <div id="user-menu-box" class="user-menu-box">
                        <ul>
                            <li>
                                <a class="menu-item" href="{:U('MCenter/index')}">用户中心</a>
                            </li>
                            <li>
                                <a class="menu-item" href="{:U('MCenter/pj_support')}">股权众筹</a>
                                <a class="menu-item" href="{:U('MCenter/pr_support')}">实物众筹</a>
                        <!--        <a class="menu-item" href="{:U('MCenter/stock')}">股票基金</a> -->
                            </li>
                            <li class="last">
                                <!--<a class="menu-item" href="{:U('User/detail')}">个人资料</a>-->
                                <a class="menu-item" href="{:U('Account/index')}">账户管理</a>
                                <a class="menu-item" href="{:U('User/logout')}">安全退出</a>
                            </li>
                        </ul>
                        <div class="tri-box">
                            <div class="tri tri0"></div>
                            <div class="tri tri1"></div>
                            <div class="tri tri2"></div>
                        </div>
                    </div>
                    <!--<a href="{:U('User/logout')}" class="reg2">退出</a>-->
                
                <!--    <a href="{:U('User/login')}" class="reg">登录</a>
                    <a href="{:U('User/register')}" class="reg2">注册</a>-->
					
                </if>
            </div>
        </div>

    </div>
    <div class="topbarbg"></div>
</div>
<script>
    var userDropdownMenu = function () {
        var $userMenuBox = $('#user-menu-box');
        $('.top_login').hover(function () {
                    $userMenuBox.fadeIn('fast');
                }, function () {
                    $userMenuBox.fadeOut();
                }
        );
    };
    userDropdownMenu();

</script>