<div class="addcards mt20">
  <div class="top"><header><b>提现</b></header></div>
  <form id="form-signup_v1" name="form-signup_v1" method="POST" class="validation-form-container">
    <ul class="list mt20">
      <li><dl><dt>可提现金额：</dt>
        <dd><b class="m_red">99,999 <small>元</small></b></dd>
      </dl></li>
      <li><dl><dt>提现金额：</dt>
        <dd><input type="text" value="" class="c1" id="signup_v1-username" name="signup_v1[username]"></dd>
      </dl></li>
      <li><dl><dt>短信验证码：</dt>
        <dd><input name="" type="text" style="width:120px" value="" class="c1" id=""> <a href="#" class="send_code">发送验证码</a></dd>
      </dl></li>
      <li><dl><dt>&nbsp;</dt>
        <dd><input name="" type="submit" value="确定" class="c3"><input name="" type="button" value="取消" class="c4"></dd>
      </dl></li>
    </ul>
  </form>
</div>