<extend name="Base/common" />
<block name="style">
<link href="__M_CSS__/login.css" rel="stylesheet" type="text/css">
<link href="__M_CSS__/index.css" rel="stylesheet" type="text/css">
</block>
<block name="body">
<section id="physical_nav">
  <a href="{:U('stream_list')}" <eq name="type" value="-1"> class="physical_nav1"</eq>>全部</a>
  <a href="{:U('stream_list?type=0')}" <eq name="type" value="0"> class="physical_nav1"</eq>>充值</a>
  <a href="{:U('stream_list?type=1')}" <eq name="type" value="1"> class="physical_nav1"</eq>>支付</a>
</section>
<section id="transaction_main">
  <volist name="data" id="vo">
  <div class="transaction_xye">
    <if condition="$vo.type eq 0">
    <dl class="transaction_color">
      <dt><img src="__M_IMG__/jy2.png" width="43"></dt>
      <dd>充值</dd>
    </dl>
    <elseif condition="$vo.type eq 1"/>
    <dl  class="transaction_color1">
      <dt><img src="__M_IMG__/jy3.png"  width="43"></dt>
      <dd>支付</dd>
    </dl>
    <elseif condition="$vo.type eq 3"/>
    <dl>
    <!-- 处理类型（0：充值、1：支付、2：赎回、3：提现） -->
      <dt><img src="__M_IMG__/jy1.png"  width="43"></dt>
      <dd>提现</dd>
    </dl>
    </if>
    <span>
      <li>
        <h1>交易流水号：{$vo.tran_stream}</h1>
        
      </li>
      <li>
        <h1>交易时间：{$vo.create_time|time_format='Y-m-d H:i:s'} </h1>
        <p>￥{$vo.amount}</p>
      </li>
    </span>
  </div>
  </volist>
</section>
</block>