<extend name="Base/common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/pay.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/validform.css"/>
    <style>
        .offline-tips {
            background-color: #f06230;
            color: #fff;
            font-size: 16px;
            line-height: 28px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            padding: 0 20px;
            display: table;
        }

        .offline-tips-info {
            font-size: 14px;
            color: #f06230;
        }

        .offline-payway {
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
        }

        .payway-title {
            color: #81c0e3;
            font-size: 16px;
            line-height: 40px;
            font-weight: bolder;
        }

        .payway-title .num {
            border: 1px solid #81c0e3;
            display: inline-block;
            line-height: 40px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            width: 40px;
            text-align: center;
            font-size: 20px
        }

        .payway-title .title {
            display: inline-block;
            margin: 0 10px;
        }

        .offline-content p {
            margin: 5px;
            font-size: 14px;
            line-height: 18px
        }

        .offline-content p span {
            color: #f06230;
        }

        .bank-pay-tip {
            color: #666;
            font-size: 14px;
            margin-top: 15px;
        }
        .bank-pay-tip i {
            color: #81c0e3;
            font-style: normal;
        }
    </style>
</block>
<block name="body">
    <div class="fl w100 mt25 order">
        <div class="content border1">
            <div class="con">
                <div class="p1 clearfix">
                    <p class="le pay-cash">
                        <if condition="$data[type] neq 9">支付
                            <else/>
                            充值
                        </if>
                        金额<b>{$data.pay_amount}</b>元
                    </p>
                    <p class="rt pay-flow">交易流水：<span>{$data.merorderid}</span></p>
                </div>
                <if condition="($data.type neq 9) AND ($account.use_able gt 0)">
                    <div class="balance p1" id="balance">
                        <p class="pay-cash">可用余额<b>{$account.use_able}</b>元</p>
                        <img class="selected" src="__IMG__/banklist/selected.png" alt="">
                        <input type="hidden" name="use_able" value="{$account.use_able}">
                        <input type="hidden" name="pay_amount" value="{$data.pay_amount}">
                        <input type="hidden" name="need_amount" value="{$data.pay_amount}">
                    </div>
                </if>
                <hr style="margin:20px 0 10px">
                <if condition="($data.type neq 9) AND ($account.use_able gt 0)">
                    <div class="p1" id="other1">
                        <p class="pay-cash">充值金额<b id="need_amount">{$data.pay_amount}</b>元</p>
                    </div>
                </if>
                <div class="pay-way">
                    <notempty name="mycards">
                        <div class="p2">
                            <p>我的银行卡（共 <span>{$mycards|count}</span> 张）</p>
                            <ul class="cardlist clearfix quick-list">
                                <volist name="mycards" id="vo">
                                    <li data-id="{$vo.id}"><a>
                                        <notempty name="vo.normal_logo"><img src="{$vo.normal_logo}"></notempty>
                                        <span>尾号 {$vo.cardno|substr="-4"} | <eq name="vo.cardtype" value="1">借记卡
                                            <else/>
                                            信用卡
                                        </eq></span>
                                        <img class="selected" src="__IMG__/banklist/selected.png" alt=""></a></li>
                                </volist>
                            </ul>
                        </div>
                    </notempty>
                    <div class="bank-select">
                        <div class="tab">
                            <ul class="clearfix">
                                <li class="active"><a id="tab-normal" href="#tab-content1">网银支付</a></li>
                                <li><a id="tab-quick" href="#tab-content2">快捷支付</a></li>
                                <li><a id="tab-offline" href="#tab-content3">线下支付</a></li>
                            </ul>
                        </div>
                        <div class="tab-list">
                            <div id="tab-content1" class="tab-content active">
                                <ul class="banklist clearfix" id="normal-list">
                                    <volist name="normal" id="vo">
                                        <li data-code="{$vo.normal_code}"><a>
                                            <notempty name="vo.normal_logo"><img src="{$vo.normal_logo}"
                                                                                 alt="{$vo.bank_name}"></notempty>
                                            <img class="selected" src="__IMG__/banklist/selected.png"></a></li>
                                    </volist>
                                </ul>
                                <div class="btn-list"><a href="{:U('Pay/normalpay?merorderid='.$data['merorderid'])}"
                                                         class="btn_red2" id="btn-pay1"><span>支 付</span></a></div>
                            </div>
                            <div id="tab-content2" class="tab-content">
                                <div id="step1" class="pay-step active">
                                    <ul class="banklist clearfix quick-list">
                                        <volist name="quickpay" id="vo">
                                            <li><a>
                                                <notempty name="vo.normal_logo"><img src="{$vo.normal_logo}"
                                                                                     alt="{$vo.bank_name}">
                                                    <else/>
                                                    {$vo.bank_name}
                                                </notempty>
                                                <img class="selected" src="__IMG__/banklist/selected.png"></a></li>
                                        </volist>
                                        <eq name="data.allow_creditcard" value="1">
                                            <li class="pay-other">信用卡支付<img class="selected"
                                                                            src="__IMG__/banklist/selected.png"></li>
                                        </eq>
                                    </ul>
                                    <div class="btn-list"><a
                                            href="{:U('Pay/quickpay1?merorderid='.$data['merorderid'])}"
                                            class="btn_red2 pay-next" id="btn-quickpay"><span>下一步</span></a></div>
                                </div>
                                <div id="next-content"></div>
                            </div>
                            <div id="tab-content3" class="tab-content">
                                <div class="clearfix">
                                    <div class="le">
                                        <p class="offline-tips">特别提示</p>
                                        <p class="offline-tips-info">为了您的投资权益，请使用本人银行卡或支付宝账户进行线下支付。<br>

                                            线下支付前后可添加一塔湖图众筹微信客服号咨询支付问题。一塔湖图众筹客服微信号：400-806-8787</p>
                                    </div>
                                    <div class="rt">
                                        <img src="__IMG__/service_barcode.jpg" alt="" class="barcode">
                                    </div>
                                </div>
                                <div class="offline-payinfo">
                                    <!-- <div class="offline-payway">
                                        <p class="payway-title"><span class="num">1</span><span
                                                class="title">支付宝账户</span></p>
                                        <div class="offline-content">
                                            <p> 账户名称 ：北京一塔湖图众筹科技有限公司</p>
                                            <p>支付宝账户：pay@1tht.cn <span>（转账备注“项目名称+手机号码”）</span></p>
                                            <p >&nbsp;&nbsp;&nbsp;&nbsp;<img src="__IMG__/zhifu.jpg" width="150" ></p>
                                        </div>
                                    </div> -->
                                    <!-- <div class="offline-payway">
                                        <p class="payway-title"><span class="num">2</span><span
                                                class="title">银行账户</span></p>
                                        <div class="offline-content">
                                            <p>开户名称：北京一塔湖图众筹科技有限公司</p>
                                            <p>开户账户：1109-1907-4510-801
                                                <span>（打款后请联系客服微信或拨打 400 - 806-8787 确认打款状态）</span></p>
                                            <p>开户银行：招商银行股份有限公司北京海淀支行</p>
                                        </div>
                                    </div> -->
                                    <div class="offline-payway">
                                        <p class="payway-title"><span class="num">1</span><span
                                                class="title">银行账户</span></p>
                                        <div class="offline-content">
                                            <p>开户名称：北京饮马投资管理有限公司</p>
                                            <p>开户账户：1109-1899-1710-801
                                                <span>（打款后请联系客服微信或拨打 400-806-8787 确认打款状态）</span></p>
                                            <p>开户银行：招商银行股份有限公司北京海淀支行</p>
                                        </div>
                                    </div>
                                    <div class="bank-pay-tip">
                                        在收到您的投资款后，我们会在1~2个工作日内，修改您的投资状态为<i>【已支付】</i>。 再次感谢您的支持。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <if condition="$data.type neq 9">
                    <div class="balance-pay">
                        <div class="btn-list"><a href="{:U('Pay/usebalance?merorderid='.$data['merorderid'])}"
                                                 class="btn_red2" id="btn-balance"><span>支 付</span></a></div>
                    </div>
                </if>
                <div class="pay-warning">
                    <p class="pay-title">温馨提醒：</p>
                    <p>1. 请使用您本人的银行卡进行充值。</p>
                    <p>2. 您的账户资金将由第三方平台托管。 </p>
                    <p>3. 为了您的资金安全，请您在充值前完成手机绑定及身份认证。 </p>
                    <p>4. 充值过程遇到问题，请联系客服，400 - 806-8787</p>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/Validform_v5.3.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#balance").click(function () {
                var _this = $(this);
                if (_this.hasClass('select')) {
                    _this.removeClass('select');
                } else {
                    _this.addClass('select');
                }
                checkBalance();
                $("#tab-normal").click();
            });

            function checkBalance() {
                var use_able = parseFloat($('input[name="use_able"]').val());
                var pay_amount = parseFloat($('input[name="pay_amount"]').val());
                if (!$("#balance").hasClass('select')) {
                    use_able = 0;
                }
                if (use_able >= pay_amount) {
                    $('input[name="need_amount"]').val(0);
                    $('.balance-pay').show();
                    $('.pay-way').hide();
                    $("#other1").hide();
                } else {
                    var need_amount = pay_amount - use_able;
                    $('input[name="need_amount"]').val(need_amount);
                    $('.balance-pay').hide();
                    $("#need_amount").html(need_amount);
                    $("#other1").show();
                    $('.pay-way').show();
                }
            }

            $("#btn-balance").click(function () {
                var url = $(this).attr('href');
                $.post(url, function (data) {
                    if (data.status == 1) {
                        layer.alert(data.info, 9, function () {
                            window.location.href = data.url;
                        });
                    } else {
                        layer.alert(data.info, 8, function () {
                            window.location.reload();
                        });
                    }
                });

                return false;
            });
            $("#btn-pay1").click(function () {
                // 网银支付
                var active = $('#normal-list li.active');
                if (active.length == 0) {
                    layer.alert("请选择您要用于支付的银行。");
                    return false;
                }
                var code = $(active).attr('data-code');
                var _this = $(this);
                var use_able = $('input[name="use_able"]').val();
                if (!$("#balance").hasClass('select')) {
                    use_able = '0';
                }
                var url = _this.attr('href') + '?bankcode=' + code + '&balance=' + use_able;
                _this.attr('href', url);
            });

            $('#btn-quickpay').click(function () {
                // 快捷支付
                var active = $('.quick-list li.active');
                if (active.length == 0) {
                    layer.alert("请选择您要用于支付的银行。");
                    return false;
                }
                var _this = $(this);
                var id = active.attr("data-id");
                var url = _this.attr('href');

                var use_able = $('input[name="use_able"]').val();
                if (!$("#balance").hasClass('select')) {
                    use_able = '0';
                }

                $.get(url, {id: id, balance: use_able}, function (data) {
                    if (data.status == 1) {
                        $('#step1').hide();
                        $("#next-content").load(data.url);
                    } else {
                        layer.alert(data.info);
                    }
                }, 'json');
                return false;
            });

            $(".cardlist li a").click(function () {
                $('#tab-quick').click();
            });

            // tab选择处理
            $(".tab ul li a").click(function () {
                var ul = $(this).parents('ul');
                var parent = $(this).parent('li');

                ul.children('li').removeClass('active');
                parent.addClass('active');

                var id = $(this).attr('href');
                $('.tab-content').removeClass('active');
                if (id == "#tab-content2") {
                    $('#step1').show();
                    $("#next-content").html("");
                } else {
                    $(".cardlist li").removeClass('active');
                }
                $(id).addClass('active');
                return false;
            });

            // 银行列表处理
            $(".banklist li,.cardlist li").click(function () {
                $(".banklist li,.cardlist li").removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
</block>