<extend name="Base/uc-common"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__CSS__/user.css"/>
    <link href="__CSS__/validform.css" rel="stylesheet">
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
</block>
<block name="submenu">
    <ul>
        <li class="cur"><a href="{:U('User/detail')}">个人资料</a></li>
        <li><a href="{:U('User/applylead')}">申请领投</a></li>
        <li><a href="{:U('User/addrlist')}">配送地址</a></li>
        <li><a href="{:U('User/savecenter')}">安全中心</a></li>
    </ul>
</block>
<block name="detail">
    <div class="userright ri">
        <form action="{:U()}" method="POST" class="form">
            <ul class="list mt20">
                <li>
                    <dl>
                        <dt>昵称：</dt>
                        <dd><input name="user[nickname]" type="text" placeholder="请输入你的昵称" datatype="s1-30"
                                   maxlength="30"
                                   nullmsg="请输入您的昵称" value="{$user.nickname}" errormsg="昵称至少3个字符，最多30个字符" class="c1">
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>性别：</dt>
                        <dd class="sex">
                            <label><input type="radio" name="detail[sex]"
                                <eq name="detail.sex" value="1">checked</eq>
                                value="1" id="sex1">男</label>
                            <label><input type="radio" name="detail[sex]"
                                <eq name="detail.sex" value="2">checked</eq>
                                value="2" id="sex2">女</label>
                            <label><input type="radio" name="detail[sex]"
                                <eq name="detail.sex" value="0">checked</eq>
                                value="0" id="sex0">保密</label>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>出生日期：</dt>
                        <dd><input name="detail[birthday]" type="text" placeholder="日期如1981-08-08" datatype="*"
                                   maxlength="10"
                                   nullmsg="请输入生日" value="{$detail.birthday}" class="c1 laydate-icon" id="date"></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>电子邮箱：</dt>
                        <dd><input name="detail[email]" maxlength="40" datatype="*" nullmsg="请输入电子邮箱" type="text"
                                   placeholder="请输入你的电子邮箱" value="{$detail.email}" class="c1" id="mail"></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>所在地区：</dt>
                        <dd>
                            <div class="select">
                                {:hook('J_China_City', array('province'=>$detail['province'], 'city'=>$detail['city']))}
                            </div>
                        </dd>
                    </dl>
                </li> 
                <li>
                    <dl>
                        <dt>详细地址：</dt>
                        <dd><input name="detail[address]" type="text" placeholder="请填写详细地址" class="c1" id="address"
                                   value="{$detail.address}"></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>微博地址：</dt>
                        <dd><input name="detail[weibo]" type="text" placeholder="请输入你的微博地址" class="c1" id="weibo"
                                   value="{$detail.weibo}"></dd>
                    </dl>
                </li>
                <li style="display: none;">
                    <dl>
                        <dt>绑定微信：</dt>
                        <dd class="bind-wx-status">
                            <div class="bound hidden">
                                <span class="info">已绑定微信</span>
                                <a href="javascript:" class="action btn-unbind">解绑</a>
                            </div>
                            <div class="unbound hidden">
                                <span class="info">未绑定</span>
                                <a href="javascript:" class="action btn-bind">绑定</a>
                            </div>

                        </dd>
                    </dl>

                </li>
                <li>
                    <dl>
                        <dt></dt>
                        <dd>
                            <div id="errormessage"></div>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>&nbsp;</dt>
                        <dd><input type="submit" value="保存更新" class="c2"></dd>
                    </dl>
                </li>
            </ul>
        </form>
    </div>
    <div id="login_container"></div>
</block>
<block name="script">
    <script type="text/javascript" src="__JS__/laydate/laydate.js"></script>
    <script type="text/javascript" src="__STATIC__/Validform_v5.3.2.js"></script>
    <script>
        !function () {
            var showQR = function () {
                var obj = new WxLogin({
                    id: "login_container",
                    appid: "wxc828421ba4322f23",
                    scope: "snsapi_login",
                    redirect_uri: "http://www.dreammove.cn/Weixin/bindWx",
                    state: "dreammove2015",
                    style: "black",
                    href: ""
                });
                $.layer({
                    type: 1,
                    area: ['300px', '409px'],
                    title: false,
                    border: [0],
                    shadeClose: true,
                    page: {dom: '#login_container'}
                });
            };

            laydate({
                elem: "#date",
                start: "1980-1-1 00:00:00"
            });
            var checkBindWx = function () {
                $('.bind-wx-status .bound, .bind-wx-status .unbound').addClass('hidden');
                $.get('/weixin/checkBindWx').then(function (json) {
                    if (json.success) { //已绑定
                        $('.bind-wx-status .bound').removeClass('hidden');
                        $('.btn-unbind').click(function () {
                            var confirmId = layer.confirm('确定解绑吗?', function () {
                                layer.close(confirmId);
                                var loadId = layer.load(3);
                                $.get('/weixin/bindRemoveWx').then(function (json) {
                                    layer.close(loadId);
                                    layer.msg(json.info, 1, -1);
                                    if (json.success) {
                                        checkBindWx()
                                    } else {
                                    }
                                })
                            });
                        });
                    } else if (json.success === false) { // 未绑定
                        $('.bind-wx-status .unbound').removeClass('hidden');
                        $('.btn-bind').click(function () {
                            showQR();
                        })
                    }
                })
            };
            //checkBindWx();

        }();

        $(function () {
            $(".form").Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $("#errormessage");
                    objtip.text("");
                    if (o.type == 3) {
                        cssctl(objtip, o.type);
                        objtip.text(msg);
                        objtip.show();
                    } else {
                        objtip.hide();
                    }
                }, ajaxPost: true,
                callback: function (data) {
                    if (data.status == 1) {
                        layer.alert(data.info, 9); //alert(data.info);
                    }
                }
            });
        });
    </script>
</block>