<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/touzi.css" rel="stylesheet">
    <link href="__CSS__/validform.css" rel="stylesheet">
</block>

<block name="body">
<div class="touzi-cont">
	<h3>合格投资人认证</h3>
	<div class="touzi-body">
		<form action="{:U('User/user_info')}" method="post" id='confirm' accept-charset="utf-8">
			<h4>请根据您的真实情况完成以下资产状况选择：</h4>
			<p class="touzi-ming">您的金融资产是否高于300万元人民币</p>
			<p class="touzi-inp">
				<input type="hidden" name='id' value='{$_GET["id"]}'>
				<span><input type="radio" name='financial_assets' value='1' checked>是</span>
				<span><input type="radio" name='financial_assets' value='0'>否</span>
			</p>
			<p class="touzi-ming">您近三年个人年均收入是否高于50万元人民币</p>
			<p class="touzi-inp">
				<span><input type="radio" name='three_year_income' value='1' checked>是</span>
				<span><input type="radio" name='three_year_income' value='0'>否</span>
			</p>
			<h4>您的投资经验：</h4>
			<p class="touzi-ming">您是否进行过以下投资（可多选）：</p>
			<ul class="clearfix touzi-ul">
				<li><span><input type="checkbox" class='investment_yes' name='investment[]' value='1'>股票</span></li>
				<li><span><input type="checkbox" class='investment_yes' name='investment[]' value='2'>信托</span></li>
				<li><span><input type="checkbox" class='investment_yes' name='investment[]' value='3'>公募基金</span></li>
				<li><span><input type="checkbox" class='investment_yes' name='investment[]' value='4'>私募基金</span></li>
				<li><span><input type="checkbox" class='investment_yes' name='investment[]' value='5'>PE</span></li>
				<li><span><input type="checkbox" class='investment_yes' name='investment[]' value='6'>VC</span></li>
				<li><span><input type="checkbox" class='investment_yes' name='investment[]' value='7'>早期股权投资</span></li>
				<li><span><input type="checkbox" class='investment_no' name='investment[]' value='8'>以上都没有</span></li>
			</ul>
			<p class="touzi-ming">您的投资经验有：</p>
			<p class="touzi-inp">
				<span><input type="radio" name='investment_experience' value='1'>1-3年</span>
				<span><input type="radio" name='investment_experience' value='2'>3-5年</span>
				<span><input type="radio" name='investment_experience' value='3'>5-10年</span>
				<span><input type="radio" name='investment_experience' value='4'>10年以上</span>
			</p>
			<h4>关于股权融资的风险您必须知道的：</h4>
			<p class="touzi-shop">
				<span><input type="checkbox" class='agreement_1' name='agreement[]' value='1'></span>
				<i>我已知晓股权融资是一种高风险投资，是一种没有固定收益和固定期限的投资，有产生本金亏损的可能性。</i>
			</p>
			<p class="touzi-shop">
				<span><input type="checkbox" class='agreement_2' name='agreement[]' value='2'></span>
				<i>我承诺以上登记的所有信息属实，并对虚假信息产生的一切后果负责。我已阅读并签署<a href='__APP__/Info/show/key/agreement.html'>《注册服务协议》</a> <a href='__APP__/Info/show/key/shenmingshu.html'>《投资风险提示书》</a>。
				</i>
			</p>
			<div class="touzi-btn">
				<input type="submit" id='confirm_sub'value="提交认证">
			</div>
		</form>
		
	</div>

</div>
</block>
<block name="script">
	<script type="text/javascript" src="__STATIC__/Validform_v5.3.2.js"></script>
	<script>
		$('.investment_no').click(function(){
			if($(this).is(":checked")){
				$('.investment_yes').attr("checked", false);
			}
		});

		$('.investment_yes').click(function(){
			if($(this).is(":checked")){
				$('.investment_no').attr("checked", false);
			}
		});

		$('#confirm_sub').click(function () {
			$('#confirm').submit();
		});

		$('#confirm').Validform({
            tipSweep: true,
            tiptype: function (msg, o, cssctl) {
                if (o.type == 3) {
                    layer.alert(msg, 1);
                }
            }, ajaxPost: true,
            beforeSubmit: function () {

            	//金融资产
                var financial_assets = $("input[name='financial_assets']:checked").val();
                if (!financial_assets) {
                    layer.alert('请选择您的资产是否高于300万元人民币');
                    return false;
                }

                //三年收入
                var three_year_income = $("input[name='three_year_income']:checked").val();
                if (!three_year_income) {
                    layer.alert('请选择您近三年个人年均收入是否高于50万元人民币');
                    return false;
                }

               	//金融资产或三年收入有一项不符
                if(financial_assets == 0 && three_year_income == 0){
                	layer.alert('抱歉，您的金融资产或近三年收入，不满足合格投资人认证！');
                    return false;
                }

                //有过的投资
                var investment_value =[];//定义一个数组      
	            $('input[name="investment[]"]:checked').each(function(){    
	            	investment_value.push($(this).val());   
	            });
                if (investment_value.length < 1) {
                    layer.alert('请选择您是否进行过以下投资');
                    return false;
                }

                //投资经验
                var investment_experience = $("input[name='investment_experience']:checked").val();
                if (!investment_experience) {
                    layer.alert('请选择您的投资经验');
                    return false;
                }
                if($('.investment_no').is(":checked")){
                	layer.alert('抱歉，您没有任何投资经验，不满足合格投资人认证！');
                    return false;
                }

                //融资风险
                var agreement_value =[];//定义一个数组      
	            $('input[name="agreement[]"]:checked').each(function(){    
	            	agreement_value.push($(this).val());   
	            });
                if (agreement_value.length < 1) {
                    layer.alert('您是否已知晓股权融资是一种高风险投资，是一种没有固定收益和固定期限的投资，有产生本金亏损的可能性');
                    return false;
                }
                if(!$('.agreement_1').is(":checked")){
                	layer.alert('您是否已知晓股权融资是一种高风险投资，是一种没有固定收益和固定期限的投资，有产生本金亏损的可能性');
                    return false;
                }
                if(!$('.agreement_2').is(":checked")){
                	layer.alert('您是否阅读并同意签署《注册服务协议》《风险提示书》！');
                    return false;
                }
            },
            callback: function (data) {
                if (data.status == 1) {
                    layer.alert(data.info, 9, function () {
                        window.location.href = data.url;
                    });
                }
            }
        });
	</script>
</block>