<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/detail.css" rel="stylesheet">
    <link href="__CSS__/validform.css" rel="stylesheet">
    <style>
        .leader1 {
            font-size: 14px;
        }

        .leader1 a {
            color: #ff5a5a;
            text-decoration: underline;
        }

        .apply_leader {
            padding: 0 40px;
            border: 2px solid #999;
            cursor: pointer;
            display: inline-table;
            font-size: 16px;
            position: relative;
            line-height: 36px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            overflow: hidden;
        }

        .agreement1 {
            margin-left: 20px;
        }

        .apply_leader:hover {
            border-color: #ed655a;
        }

        .apply_leader.active {
            border-color: #ed655a;
        }

        .apply_leader .selected {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .apply_leader.active .selected {
            display: block;
        }

        .agreement1 {
            display: inline-table;
        }
    </style>
</block>
<block name="body">
    <div class="fl w100 mainwrap mt25">
        <div class="content">
            <div class="main2 mt20">
                <h4>{$project.project_name}</h4>
                <dl class="rzxx mt25 cl">
                    <dt>融资信息</dt>
                    <dd style="border-left:1px solid rgb(221, 221, 221)"><div><span>{$project.need_fund|change_fund} </span><span style="font-size:14px">元</span></div>融资目标额</dd>
                    <dd><div><span>{$project.follow_fund|change_fund} </span><span style="font-size:14px">元</span></div>起投额</dd>
                    <dd><div><span>{$project.final_valuation|change_fund} </span><span style="font-size:14px">元</span></div>最终估值</dd>
                    <dd><div><span>{$project.rate_fund|number_format=4} </span><span style="font-size:14px">%</span></div>出让比例</dd>
                </dl>
                <input type="hidden" id="follow_fund" value="{$project.follow_fund}">
                <input type="hidden" id="need_fund" value="{$project.need_fund}">
                <input type="hidden" id="valuation" value="{$project.final_valuation}">
                <h2>特殊回报：{$project.extra}</h2>
                <h4 class="c2"><i></i>您的跟投金额</h4>
                <div class="gt mt20">
                    <form action="{:U('project/follow')}" id="form-inquiry" method="post" class="form-horizontal">
                        <input type="hidden" name="id" value="{$project.id}">
                        <div class="left fl">
                            <div class="number">
                                <input type="button" value="-" onclick="opera('#myfund', false);" class="low"><input
                                    type="text" id="myfund" value="{$project.follow_fund|round=0}" datatype="n"
                                    maxlength="7" nullmsg="请输入投资金额" errormsg="投资金额必须为数字" name="fund" class="c3"/>
                                <input type="button" value="+" onclick="opera('#myfund', true);" class="up">
                                <span><em id="hasrate">{$project.rate|round=4}</em> %</span>
                            </div>
                            <div class="warr">投资理由</div>
                            <div>
                                <textarea name="others" style="font-size:14px" class="d"></textarea>
                            </div>
                            <if condition="$project.vote_leader neq 2">
                                <div class="leader1">
                                    <input type="hidden" name="leader_type" id="leader_type" value="0">
                                    <p class="apply_leader">我要领投 <img class="selected"
                                                                      src="__IMG__/banklist/selected.png" alt=""></p>
                                    <p class="agreement1"><a href="{:U('Project/leader_info?isread=1')}"
                                                             target="_blank">领投规则</a></p>
                                </div>
                            </if>
                            <div class="agree">
                                <label for="agree"><input name="agree" id="agree" type="checkbox" value="1" checked>我同意并遵守投资规则</label>
                                <a href="{:U('Info/show?key=follow')}" target="_blank">《跟投规则》</a><a href="{:U('Info/show?key=fenpei')}" target="_blank">《投资利益分配规则》</a>
                                <a href="{:U('Info/show?key=after')}" target="_blank">《投后管理规则》</a>
                            </div>
                            <div>
                                <input type="submit" id="confirm" value="确认跟投" class="s">
                            </div>
                        </div>
                    </form>
                    <div class="right ri">
                        <div class="tips"><b>风险提示</b>
                            天使投资是高风险投资，只适合风险识别、评估、承受能力较强的投资人。
                            我们不承诺任何保本和最低收益，也不会就投资可能产生的亏损，承担任何赔偿责任，请您谨慎作出投资决定。<br>
                            <a href="{:U('Info/show?key=shenmingshu')}" target="_blank">《投资风险提示书》</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="auth">
        <div class="header clearfix">
            <a href="#" class="tab-title auth active" data-target="login-box">实名认证</a>
            <!--<a href="#" class="tab-title reg" data-target="reg-box">快速注册</a>
            <a href="#" class="tab-title password" data-target="change-password-box">输入密码</a>-->
        </div>
        <div class="step-box clearfix">
            <div class="step auth-box" data-index="0">

                <div class="message success">您还未实名认证，请先进行实名认证。</div>
                <input name="name" class="input-text real-name" placeholder="真实姓名">
                <input name="card_id" class="input-text card" placeholder="身份证号码">

                <button class="btn btn-auth">认 证</button>
                <div class="tip">为了确保您的投资权益请完善您的实名认证，如遇到问题请联系客服 400-806-8787 或查询（<a href="/info/show/key/common.html"
                                                                                     target="_blank">常见问题</a>）。
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/Validform_v5.3.2.js"></script>
    <script>
        var api = {
            checkAuth: '/project/checkAuth',
            checkUserInfo: '/project/checkUserInfo',
            authentication: '/user/realnameapi'
        };
        var authLayerId = 0;

        $('#confirm').click(function () {
            $.getJSON(api.checkAuth).then(function (json) {
                if (!json.success) {
                    authLayerId = $.layer({
                        type: 1,
                        area: ['450px', '450px'],
                        title: false,
                        page: {dom: '#auth'}
                    });
                } else {
                    $.getJSON(api.checkUserInfo).then(function (a) {
                        if (!a.success) {
                            window.location.href = '{:U("User/user_info",array("id"=>$_GET["id"]))}';
                        }else{
                            $('#form-inquiry').submit();
                        }
                    });
                }
            });
            return false
        });
        $('.btn-auth').click(function () {
            var $authBox = $('.auth-box');

            var _data = {
                name: $authBox.find('.real-name').val(),
                card_id: $authBox.find('.card').val()
            };
            var $btnAuth = $authBox.find('.btn-auth');
            $btnAuth.attr('disabled', 'disabled').addClass('disabled').text('正在处理中, 请稍候...');
            $.post(api.authentication, _data, function (json) {
                if (json.success) {
                    $authBox.find('.btn-auth').text('认证成功');
                    setTimeout(function () {
                        layer.close(authLayerId)
                    }, 300);
                    $('#form-inquiry').submit();
                } else {
                    $btnAuth.removeAttr('disabled').removeClass('disabled').text('认证失败, 请重试');
                    $authBox.find('.message').removeClass().addClass('message error').text(json.info);
                    layer.msg(json.info, 2, -1);
                }
            })
        });
        function opera(x, y) {
            var rs = new Number($(x).val());
            if (isNaN(rs)) {
                rs = 0;
            }
            if (y) {
                rs = rs + 1000;
            } else {
                rs = rs - 1000;
            }
            $(x).val(checkFund(rs));
        }

        function checkFund(v) {
            var min_follow = new Number($('#follow_fund').val());
            var max_follow = new Number($('#need_fund').val());
            var valuation = new Number($('#valuation').val());

            // 投资金额处理为1000的倍数
            v = Math.ceil(v / 1000) * 1000;
            if (v > max_follow) {
                v = max_follow;
            } else if (v < min_follow) {
                v = min_follow;
            }
            // 计算股份占比
            var rate = (Math.round(v * 1000000 / valuation) / 10000);
            $("#hasrate").html(rate);
            return v;
        }
        $('#myfund').blur(function () {
            var rs = new Number($("#myfund").val());
            if (isNaN(rs)) {
                rs = 0;
            }
            $("#myfund").val(checkFund(rs));
        });

        $(".apply_leader").click(function () {
            var _this = $(this);
            if (_this.hasClass('active')) {
                $('#leader_type').val(0);
                _this.removeClass('active');
            } else {
                _this.addClass('active');
                $('#leader_type').val(1);
            }
        });

        $('#form-inquiry').Validform({
            tipSweep: true,
            tiptype: function (msg, o, cssctl) {
                if (o.type == 3) {
                    layer.alert(msg, 1);
                }
            }, ajaxPost: true,
            beforeSubmit: function () {
                var agree = $('#agree:checked').length;
                if (agree == 0) {
                    layer.alert('为了保障您的权益，请阅读并接受相关投资协议后，继续您的投资旅程。');
                    return false;
                }
            },
            callback: function (data) {
                if (data.status == 1) {
                    layer.alert(data.info, 9, function () {
                        window.location.href = data.url;
                    });
                }
            }
        });

    </script>
</block>