<style>
	.tea_info { width: 700px; padding: 0 15px;}
	.tea_info p {margin-bottom: 5px;line-height: 25px;font-size: 16px}
	.tea_info p a{font-size: 20px}
	.tea_info p.title {font-size:16px;}
	.tea_info div.pay_way{
		margin:0 20px; border: 2px solid #eee; border-radius: 8px; 
		padding: 10px;color: #fff; background-color: #999;}
	.tea_info span.remark_info {padding:10px 20px; font-weight: bolder; color:#f37462;}
	.tea_info table {font-size:16px;border:none;}
	.tea_info table .text-right{text-align: right;}
</style>
<div class="tea_info">
    	<p class="title">为方便您的投资，我们提供以下几种方式，您可以任意选择其一：</p>
	<div class="pay_way">
		<p>转账到聚道投资支付宝账户 ：<b>jdtz2015@sina.com</b></p>
		<div>
			<p>银行汇款方式：</p>
			<table style="margin-left:20px">
				<tr><td class="text-right">银行账号：</td><td><b>3301 0401 6000 2243 627</b></td></tr>
				<tr><td class="text-right">开户名称：</td><td><b>杭州聚道投资管理有限公司</b></td></tr>
				<tr><td class="text-right">开户行：</td><td><b>杭州银行南山支行</b></td></tr>
			</table>
		</div>
	</div>
	<p>付款时，请在备注中说明，<b style="color:#f37462;font-size:18px">投资项目以及一塔湖图众筹平台的账号</b>。</p>
	<p>在收到您的投资款后，我们会在1~2个工作日内，修改您的投资状态为<b style="color:#f37462;font-size:18px">【已支付】</b>。
	再次感谢您的支持。</p>
</div>