<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>banner管理</h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:U('add','pid='.$pid)}">新 增</a>

		<button class="btn list_sort" url="{:U('sort',array('pid'=>I('get.pid',0)),'')}">排序</button>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<th class="row-selected">
						<input class="checkbox check-all" type="checkbox">
					</th>
					<th>ID</th>
					<th>名称</th>
					<th>链接</th>
                    <th>备注</th>
                    <th>排序</th>
                    <th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<volist name="list" id="channel">
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="" id="" value="{$channel['id']}"> </td>
						<td>{$channel.id}</td>
						<td>{$channel.name}</td>
						<td>{$channel.extra}</td>
						<td>{$channel.remark}</td>
                        <td>{$channel.sort}</td>
                        <td>
	                        <if condition="$channel['status'] eq 0"><span class="label">可用</span>
								<elseif condition="$channel['status'] eq 1"/><span class="label label-success">禁用</span>
							</if>
                        </td>
						<td>
							<a title="编辑" href="{:U('edit?id='.$channel['id'].'&pid='.$pid)}">编辑</a>
<!-- 							<a href="{:U('setStatus?ids='.$channel['id'].'&status='.abs(1-$channel['status']))}" class="ajax-get">{$channel.status|show_status_op}</a> -->
							<if condition="$channel['status'] eq 0">
								<a class="confirm ajax-get"  href="{:U('setStatus?id='.$channel['id'].'&status=1')}">禁用</a>
							<elseif condition="$channel['status'] eq 1"/>
								<a class="confirm ajax-get"  href="{:U('setStatus?id='.$channel['id'].'&status=0')}">启用</a>
							</if>

							<a class="confirm ajax-get" title="删除" href="{:U('del?id='.$channel['id'])}">删除</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="7" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
	</div>
</block>

<block name="script">
<script type="text/javascript">
	highlight_subnav('{:U('Banner/index')}');
	$("a:contains(Banner管理)").parent("li").addClass("current");
	
    $(function() {
    	//点击排序
    	$('.list_sort').click(function(){
    		var url = $(this).attr('url');
    		var ids = $('.ids:checked');
    		var param = '';
    		if(ids.length > 0){
    			var str = new Array();
    			ids.each(function(){
    				str.push($(this).val());
    			});
    			param = str.join(',');
    		}

    		if(url != undefined && url != ''){
    			window.location.href = url + '/ids/' + param;
    		}
    	});
    });
</script>
</block>