<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>查看信息</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
    	<input type="hidden" name="id" value="{$info.id}">
        <div class="form-item">
            <label class="item-label">标题</label>
            <div class="controls">
                <input type="text" disabled="disabled" class="text input-large" name="title" value="{$info.title}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">内容</label>
            <div class="controls">
                <textarea name="content" disabled="disabled">{$info.content}</textarea>
                {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$info.content))}
            </div>
        </div>
        <div class="form-item">
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Notice/index')}');
    </script>
</block>
