<extend name="Base/common" />
<block name="header">
	<style>
		.refuse {
			display: none;
		}
	</style>
</block>

<block name="body">
<div class="main">
	<div class="content">
<section>
<div class="usercontent clearfix">
<include file="Public/sidebar"/>
		<div class="mcenter-right" id="mcenter-right">
	<div class="ShowPath">
		您现在的位置： 用户中心&nbsp;&gt;&nbsp;项目管理&nbsp;&gt;&nbsp;项目管理
	</div>
	<div>
		<div class="bs-docs-example" style="border: none;">
			<div class="con_btn">
				<div class="nav-bar">
					<div class="content">
						<ul class="menu">
							<li><a href="{:U('Manage/foundlist')}">我的项目</a></li>
							<li class="active">询价信息</li>
							<li><a href="{:U('Manage/foundlead')}">领投信息</a></li>
							<li><a href="{:U('Manage/foundfollow')}">跟投信息</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 数据列表 -->
			<div class="data-table">
				<table class="tt">
					<thead>
						<tr>
						<th class="">序号</th>
						<th class="">项目名称</th>
						<th class="">项目投资人</th>
						<th class="">他的估值</th>
						<th class="">投资金额</th>
						<th class="">投资时间</th>
						<th class="">状态</th>
						<th class="">操作</th>
						</tr>
				    </thead>
				    <tbody>
						<volist name="projects" id="vo">
						<tr>
				      <td>{$i} </td>
							<td><a href="{:U('Project/detail?id='.$vo['project_id'])}">{$vo.project_name}</a></td>
							<td><a href="{:U('MCenter/profile?id='.$vo['investor_id'])}">{$vo.investor_id|get_membername}</a></td>
							<td>{$vo.project_valuation|change_fund}元</td>
							<td>{$vo.fund|change_fund}元</td>
							<td><span>{$vo.create_time|time_format='Y-m-d'}</span></td>
							<td>
								<if condition="$vo.status eq 1 ">未认可
								<elseif condition="$vo.status eq 2 "/>已认可
								<elseif condition="$vo.status eq 3 "/>已接受
								<elseif condition="$vo.status eq 4 "/>已确认投资
								<elseif condition="$vo.status eq 9 "/>已支付
								<else />已拒绝</if>
							</td>
							<td>
								<eq name="vo.status" value="1">
								<a href="{:U('Manage/investstatus?status=2&id='.$vo['id'])}" name="accept" data-investor="{$vo.investor_id|get_membername}">许可</a>
								<a href="{:U('Manage/investstatus?status=0&id='.$vo['id'])}" name="btn-refuse" data-investor="{$vo.investor_id|get_membername}">拒绝</a>
								</eq>
			                </td>
						</tr>
						</volist>
					</tbody>
				    </table>
		
			</div>
			<!-- 分页 -->
			<div class="page">{$_page}</div>
			<!-- /分页 -->
		</div>
	</div>
		</div>
		</div>
</section>
	</div>
</div>
<!-- Modal -->
<div id="refuseModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="title" aria-hidden="true" data-keyboard="false">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" id="close" aria-hidden="true">×</button>
    <b id="title">拒绝理由</b>
  </div>
  <div class="modal-body">
	  <div style="font-size:14px">
	  	
	  	<p>您确定要拒绝<span id="investor_name"></span>的估值和投资吗？</p>
	  	<p>请填写拒绝理由: </p>
	  	<textarea name="refuse" style="width:80%" rows="3"></textarea>
	  </div>
  </div>
  <div class="modal-footer">
	  <button class="btn btn-primary" id="confirm1">确定</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div>
</block>

<block name="side"></block>
<block name="script">
	<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Manage/foundlist')}');
	$(function(){
		$("a[name='accept']").click(function() {
			var _this = $(this);
			var name = _this.attr('data-investor');
			$.messageBox({
				msginfo:"您确定接受" + name + "的估值和认投金额吗？",
				showconfirm:true,
				confirm:function() {
					$.get(_this.attr('href'), function(data) {
						$.messageBox({
							msginfo:data.info,
							showconfirm:false,
							cancel:function() {window.location.reload();}
						});
					});
				}
			});
			return false;
		});
		var url = "";
		$("a[name='btn-refuse']").click(function() {
			var _this = $(this);
			url = _this.attr('href');
			var name = _this.attr('data-investor');
			$('#investor_name').html(name);
			$("textarea[name='refuse']").val("");
			$("#refuseModal").modal('show');
			return false;
		});
		$("button#confirm1").click(function() {
			$("#refuseModal").modal('hide');
			$.get(url,{refuse:$("textarea[name='refuse']").val()} , function(data) {
				$.messageBox({
					msginfo:data.info,
					showconfirm:false,
					cancel:function() {window.location.reload();}
				});
			});
		});
	});
	


	</script>
</block>
