<extend name="Base/common" />
<block name="header">
	<style>
		.refuse {
			display: none;
		}
	</style>
</block>

<block name="body">
<div class="main">
	<div class="content">
<section>
<div class="usercontent clearfix">
<include file="Public/sidebar"/>
	<div class="mcenter-right" id="mcenter-right">
	<div class="ShowPath">
		您现在的位置： 用户中心&nbsp;&gt;&nbsp;项目管理&nbsp;&gt;&nbsp;项目管理 
	</div>
	<div>
		<div class="bs-docs-example" style="border: none;">
			<!-- 数据列表 -->
			<div class="data-table">
				<table class="tt">
			    <thead>
				    <tr>
							<th class="">序号</th>
							<th class="">项目名称</th>
							<th class="">项目创建人</th>
							<th class="">我的估值</th>
							<th class="">投资金额</th>
							<th class="">投资时间</th>
							<th class="">状态</th>
							<th class="">操作</th>
						</tr>
			    </thead>
				  <tbody>
						<volist name="invest" id="vo">
						<tr>
				      <td>{$i}</td>
							<td><a href="{:U('Project/detail?id='.$vo['project_id'])}">{$vo.project_name}</a></td>
							<td><a href="{:U('MCenter/profile?id='.$vo['uid'])}">{$vo.uid|get_membername}</a>
							</td>
							<td>{$vo.project_valuation|change_fund}元</td>
							<td>{$vo.fund|change_fund}元</td>
							<td><span>{$vo.create_time|time_format="Y-m-d"}</span></td>
							<td>
									<if condition="$vo.status eq 1">未认可
									<elseif condition="$vo.status eq 2"/>已认可
									<elseif condition="$vo.status eq 3"/>已接受
									<elseif condition="$vo.status eq 4"/>已确认投资
									<elseif condition="$vo.status eq 8"/>协议已确认
									<elseif condition="$vo.status eq 9"/>已支付
									<else />被拒绝</if>
							</td>
							<td>
								<if condition="($vo.status eq 3)">
									<a href="{:U('Manage/prepay?id='.$vo['id'])}">确认投资</a>
								<elseif condition="($vo.status eq 4) AND ($vo.acc_status eq 1)"/>
									<a href="{:U('Agreement/touzi?id='.$vo['project_id'])}">支付</a>
								<elseif condition="($vo.status eq 4) AND ($vo.acc_status neq 1)"/>
									<a href="{:U('Agreement/touzi?id='.$vo['project_id'])}">查看协议</a>
								<elseif condition="($vo.status eq 8) and ($vo.type eq 0)"/>
									<a href="{:U('Agreement/review_touzi?id='.$vo['project_id'])}" target="_blank">查看协议</a>
									<a href="{:U('Project/payinfo?id='.$vo['project_id'])}" class="payinfo">支付方式</a>
								<elseif condition="($vo.status eq 9) and ($vo.type eq 0)"/>
									<a href="{:U('Agreement/review_touzi?id='.$vo['project_id'])}" target="_blank">查看协议</a>
								</if>
								<if condition="($vo.status gt 0) AND ($vo.status lt 9)">
								<neq name="vo.lead_type" value="9">
								<a href="{:U('Manage/cancel?id='.$vo['id'])}" class="invest_cancel">撤消</a>
								</neq>
								</if>
			        </td>
						</tr>
						</volist>
					</tbody>
				</table>
			</div>
			<!-- 分页 -->
			<div class="page">{$_page}</div>
			<!-- /分页 -->
		 </div>
	</div>
	</div>
	</div>
</section>
	</div>
</div>
</block>

<block name="side"></block>
<block name="script">
	<link rel="stylesheet" type="text/css" href="__CSS__/colorbox.css">
	<script src="__JS__/jquery.colorbox-min.js"></script>
	<script type="text/javascript">
	$(".dopay").colorbox();
	$(".payinfo").colorbox();
	//导航高亮
	highlight_subnav('{:U('Manage/investlist')}');
	$(function() {
		$(".invest_cancel").click(function() {
			_this = $(this);
			$.messageBox({
				msginfo: "您真的要撤消对该项目的投资吗？再考虑一下吧！{:showface("sad")}", 
				showconfirm:true, 
				confirm:function() {
					$.get(_this.attr('href'), function(data) {
						$.messageBox({
							msginfo: data.info,
							showconfirm:false, 
							cancel: function() {window.location.reload();}
						}, 'json');
					}, 'json');
				}
			});
			return false;
		});
	});

	</script>
</block>
