<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>机构信息</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('add')}">新 增</a>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入机构名称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
<!-- 		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th> -->
		<th class="">序号</th>
		<th class="">机构名称</th>
		<th class="">联系人</th>
		<th class="">联系电话</th>
		<th class="">创建时间</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
           <!--  <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td> -->
            <td>{$i}</td>
			<td>{$vo.name} </td>
			<td>{$vo.link_man}</td>
			<td>{$vo.link_tel}</td>
			<td><span>{$vo.create_time|time_format}</span></td>
			<td>{$vo.status_text}</td>
			<td><eq name="vo.status" value="1">
					<a href="{:U('Group/changeStatus?status=0&id='.$vo['id'])}" class="ajax-get">禁用</a>
				<else/>
					<a href="{:U('Group/changeStatus?status=1&id='.$vo['id'])}" class="ajax-get">启用</a>
				</eq>
				<a href="{:U('Group/edit?id='.$vo['id'])}" class="authorize">编辑</a>
                <a href="{:U('Group/changeStatus?status=-1&id='.$vo['id'])}" class="confirm ajax-get">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Group/index')}');
	</script>
</block>
