@import url(if.css);
.btn-list,.magellan,.rec-list p{white-space:nowrap}
.if-p--10:before,.if-p--1:before,.if-p--2:before,.if-p--3:before,.if-p--4:before,.if-p--5:before,.if-p--6:before,.if-p--7:before,.if-p--8:before,.if-p--9:before,.if-p-0:before,.if-p-10:before,.if-p-1:before,.if-p-2:before,.if-p-3:before,.if-p-4:before,.if-p-5:before,.if-p-6:before,.if-p-7:before,.if-p-8:before,.if-p-9:before,.magellan li.active,.swipe,.swipe-wrap,.swipe-wrap>h3{position:relative}
fieldset,hr{border:0}
body,fieldset,ul{margin:0;padding:0}
.invisible,.swipe{visibility:hidden}
.btn-o,.data-table td,.data-table th,.magellan li,.rec-list,.top-header{text-align:center}
html{color:#222;font-size:16px;line-height:1.4;box-sizing:border-box;max-width:640px;margin-left:auto;margin-right:auto;font-family:"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif}
body.grey{background:#F3F3F3}
*,:after,:before{box-sizing:inherit}
\::-moz-selection{background:#b3d4fc;text-shadow:none}
\::selection{background:#b3d4fc;text-shadow:none}
hr{display:block;height:1px;border-top:1px solid #ccc;margin:1em 0;padding:0}
audio,canvas,iframe,img,svg,video{vertical-align:middle}
.btn.btn-longest,.magellan li,.rec-list li,.tag-list a{vertical-align:top}
textarea{resize:vertical;overflow:auto}
.rec-list p,.swipe,.swipe-wrap,.visuallyhidden{overflow:hidden}
ul{list-style-type:none}
a{text-decoration:none}
button,input,keygen,select,textarea{font-family:inherit;font-size:inherit}
@font-face{font-family:iconfont;src:url(if/iconfont.eot);src:url(if/iconfont.eot?#iefix) format("embedded-opentype"),url(if/iconfont.woff) format("woff"),url(if/iconfont.ttf) format("truetype"),url(if/iconfont.svg#iconfont) format("svg");font-style:normal;font-weight:400}
.if:before,.item-list li a:before,.top-header .back:before,.top-header .user:before{font-family:iconfont!important;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale;margin-right:.3em}
.if-blue:before{color:#bf1a20}
.if-000:before{color:#000}
.if-333:before{color:#333}
.if-666:before{color:#666}
.if-999:before{color:#999}
.if-ccc:before{color:#ccc}
.if-ddd:before{color:#ddd}
.btn,.if-fff:before{color:#fff}
.if-fr:before,.item-list li a:before{float:right}
.if-1:before{font-size:.2em}
.if-2:before{font-size:.4em}
.if-3:before{font-size:.6em}
.if-4:before{font-size:.8em}
.if-5:before{font-size:1em}
.if-6:before{font-size:1.2em}
.if-7:before,.top-header .back:before,.top-header .user:before{font-size:1.4em}
.if-8:before{font-size:1.6em}
.if-9:before{font-size:1.8em}
.if-10:before{font-size:2em}
.if-11:before{font-size:2.2em}
.if-12:before{font-size:2.4em}
.if-13:before{font-size:2.6em}
.if-14:before{font-size:2.8em}
.if-15:before{font-size:3em}
.if-p--10:before{top:-10px}
.if-p--9:before{top:-9px}
.if-p--8:before{top:-8px}
.if-p--7:before{top:-7px}
.if-p--6:before{top:-6px}
.if-p--5:before{top:-5px}
.if-p--4:before{top:-4px}
.if-p--3:before{top:-3px}
.if-p--2:before{top:-2px}
.if-p--1:before{top:-1px}
.if-p-0:before{top:0}
.if-p-1:before{top:1px}
.if-p-2:before{top:2px}
.if-p-3:before{top:3px}
.if-p-4:before{top:4px}
.if-p-5:before{top:5px}
.if-p-6:before{top:6px}
.if-p-7:before{top:7px}
.if-p-8:before{top:8px}
.if-p-9:before{top:9px}
.if-p-10:before{top:10px}
.if-larger:before{font-size:1.1em}
.icon-bell:before{content:"\e60e"}
.icon-frown:before{content:"\e60b"}
.icon-newspapers:before{content:"\e60f"}
.icon-question-circle:before{content:"\e610"}
.icon-bullhorn-o:before{content:"\e611"}
.icon-thumbs-up:before{content:"\e612"}
.icon-rmb:before{content:"\e613"}
.icon-triangle-left:before{content:"\e614"}
.icon-book-bookmark:before{content:"\e615"}
.icon-book:before{content:"\e616"}
.icon-hongbao:before{content:"\e617"}
.icon-rocket-o:before{content:"\e618"}
.icon-check:before{content:"\e619"}
.icon-check-circle:before{content:"\e61a"}
.icon-fire:before{content:"\e61b"}
.icon-plus:before{content:"\e61c"}
.icon-coin-bag-2:before{content:"\e61d"}
.icon-book-thick:before{content:"\e61e"}
.icon-question:before{content:"\e61f"}
.icon-phone-circle-o:before{content:"\e65f"}
.icon-dots:before{content:"\e627"}
.icon-dots-square:before{content:"\e642"}
.icon-chrome:before{content:"\e620"}
.icon-shopping-bag:before{content:"\e621"}
.icon-bao:before{content:"\e622"}
.icon-arrow-right:before{content:"\e623"}
.icon-lock-o:before{content:"\e624"}
.icon-dots-circle-o:before{content:"\e643"}
.icon-fire-circle:before{content:"\e625"}
.icon-briefcase:before{content:"\e626"}
.icon-comment:before{content:"\e600"}
.icon-angle-up-circle-o:before{content:"\e647"}
.icon-user-o-b:before{content:"\e628"}
.icon-info-circle:before{content:"\e629"}
.icon-bullhorn-sound-o:before{content:"\e62b"}
.icon-bao-2:before{content:"\e62c"}
.icon-angle-down:before{content:"\e65d"}
.icon-angle-right-b:before{content:"\e601"}
.icon-angle-left-b:before{content:"\e602"}
.icon-handshake:before{content:"\e62d"}
.icon-coin-stack:before{content:"\e603"}
.icon-angle-down-circle:before{content:"\e64e"}
.icon-lines:before{content:"\e659"}
.icon-coin-stack-bag:before{content:"\e62e"}
.icon-home-o:before{content:"\e60a"}
.icon-triangle-down-square:before{content:"\e65a"}
.icon-envolop-o:before{content:"\e62f"}
.icon-wechat-o:before{content:"\e660"}
.icon-mobile:before{content:"\e630"}
.icon-comment-o:before{content:"\e604"}
.icon-shopping-bag-3d:before{content:"\e631"}
.icon-pie-chart-3d:before{content:"\e609"}
.icon-wechat:before{content:"\e632"}
.icon-angle-right:before,.item-list li a:before{content:"\e62a"}
.icon-angle-left:before,.top-header .back:before{content:"\e637"}
.icon-angle-down-square:before{content:"\e65b"}
.icon-stock-rise:before{content:"\e633"}
.icon-hand-small-o:before{content:"\e634"}
.icon-lightning-shield:before{content:"\e635"}
.icon-angle-right-circle-o:before{content:"\e65c"}
.icon-bank-card-o:before{content:"\e661"}
.icon-leader:before{content:"\e657"}
.icon-coin-bag:before{content:"\e636"}
.icon-eye:before{content:"\e605"}
.icon-coin-stack-2:before{content:"\e606"}
.icon-promise:before{content:"\e638"}
.icon-angle-up:before{content:"\e65e"}
.icon-user:before,.top-header .user:before{content:"\e663"}
.icon-error-circle:before{content:"\e639"}
.icon-smile:before{content:"\e60c"}
.icon-check-circle-2:before{content:"\e63a"}
.icon-laptop:before{content:"\e63b"}
.icon-wechat-circle:before{content:"\e63c"}
.icon-mobile-legacy:before{content:"\e63d"}
.icon-star:before{content:"\e607"}
.icon-leader-circle:before{content:"\e658"}
.icon-comments-o:before{content:"\e63e"}
.icon-edit:before{content:"\e63f"}
.icon-envelop-o-2:before{content:"\e640"}
.icon-icon-paper-plus:before{content:"\e641"}
.icon-quoteleft:before{content:"\e644"}
.icon-comment-lines:before{content:"\e645"}
.icon-broadcast:before{content:"\e646"}
.icon-rocket-lean:before{content:"\e648"}
.icon-alipay:before{content:"\e662"}
.icon-volumn-2:before{content:"\e649"}
.icon-envelop-thin-o:before{content:"\e64a"}
.icon-map-marker:before{content:"\e608"}
.icon-paper-plane:before{content:"\e64b"}
.icon-user-o:before{content:"\e64c"}
.icon-users:before{content:"\e64d"}
.icon-shopping-bag-o:before{content:"\e64f"}
.icon-weixin-circle:before{content:"\e650"}
.icon-paper:before{content:"\e651"}
.icon-identity-card:before{content:"\e652"}
.icon-rmb-circle:before{content:"\e60d"}
.icon-check-circle-o:before{content:"\e653"}
.icon-hand-o-up:before{content:"\e654"}
.icon-bullhorn:before{content:"\e655"}
.icon-quote-right:before{content:"\e656"}
.btn-list{font-size:0}
.btn-list .btn,.btn-list .btn-o{display:inline-block;*display:inline;*zoom:1;vertical-align:top;font-size:1rem}
.btn{background:#bf1a20;border:none;padding:.3em .8em}
.btn,.btn-o{border-radius:4px}
.btn.btn-longest{display:inline-block;*display:inline;*zoom:1;padding-top:.5em;padding-bottom:.5em;width:95%;margin-left:2.5%}
.btn-o{color:#bf1a20;border:1px solid #bf1a20;padding:.5em}
.link-btn{color:inherit}
.item-list li a,.link-fill{display:block;width:100%;height:100%}
.magellan li,.rec-list li,.tag-list a{display:inline-block;*zoom:1;*display:inline}
.top-header{line-height:45px;height:45px;font-size:20px;color:#fff;background:#333}
.panel,.panel-flat{padding:2%;background:#fff}
.top-header .back{float:left;color:inherit}
.top-header .user{float:right;color:inherit}
.panel{margin:2%;border:1px solid #ddd;box-shadow:0 2px 5px 0 #ccc}
.panel-flat{margin:2% 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.panel-flat.collapsed{margin:0;border-top:none}
.item-list,.panel-flat.collapsed.first{border-top:1px solid #ddd}
.icon-text,.invest-data-line span,.tag-list a{margin-right:.5em}
.panel-flat.collapsed.last{border-bottom:none}
.panel-more{background-image:url(../images/img56.png);background-position:95% center;background-repeat:no-repeat;background-size:15px 25px}
.panel-header{font-size:1rem;line-height:2;margin-top:0;margin-bottom:.3em}
.banner{font-size:0;width:100%}
.banner img{width:100%}
.swipe-wrap>h3{float:left;width:100%}
.magellan{font-size:0;border-bottom:3px solid #D4D4D4}
.magellan li{*display:inline;*zoom:1;font-size:14px;line-height:2.2}
.magellan li.active{color:#bf1a20;border-bottom:3px solid #bf1a20;top:3px}
.magellan.count-4 li{width:25%}
.magellan.count-3 li{width:33.33%}
.card img,.data-table{width:100%}
.card h3{margin-top:.3em;margin-bottom:.3em;font-weight:400;font-size:1.1rem;line-height:1.6}
.invest-data-line{font-size:12px}
.invest-data-line span:before{font-size:16px;color:#bf1a20}
.tag-list{font-size:0}
.tag-list a{*display:inline;*zoom:1;font-size:1rem;padding:.1em .5em;background:#F8F8F8}
.icon-text{padding:.1em .5em;font-size:14px;font-style:normal;border-radius:3px;color:#fff;background:#bf1a20}
.avatar-1{width:.5rem}
.avatar-2{width:1rem}
.avatar-3{width:1.5rem}
.avatar-4{width:2rem}
.avatar-5{width:2.5rem}
.avatar-6{width:3rem}
.avatar-7{width:3.5rem}
.avatar-8{width:4rem}
.avatar-9{width:4.5rem}
.avatar-10{width:5rem}
.avatar-11{width:5.5rem}
.avatar-12{width:6rem}
.avatar-13{width:6.5rem}
.avatar-14{width:7rem}
.avatar-15{width:7.5rem}
.avatar-16{width:8rem}
.avatar-17{width:8.5rem}
.avatar-18{width:9rem}
.avatar-19{width:9.5rem}
.avatar-20{width:10rem}
.accordion.fold .accordion-header{margin-bottom:0;padding-bottom:0;border-bottom:none}
.accordion-header .if,.accordion-header .item-list li a,.accordion-header .top-header .back,.accordion-header .top-header .user,.item-list li .accordion-header a,.top-header .accordion-header .back,.top-header .accordion-header .user{color:#ccc}
.comment-avatar .avatar{margin-top:10px}
.comment-avatar blockquote{background:#F2F2F2;margin:0;padding:.5em;font-size:.8em}
.comment-avatar p{margin:.5em 0;font-size:.9em}
.comment-avatar .comment-username{font-size:1em;color:#bf1a20}
.rec-list{margin-top:3%;font-size:0}
.rec-list li{width:46%;*display:inline;*zoom:1;font-size:.9rem}
.rec-list li:nth-child(2n+1){margin-right:5%}
.rec-list img{width:100%}
.rec-list p{text-overflow:ellipsis}
input.transparent{border:none;font-size:1em;line-height:1.4;background:0 0}
.item-list,.item-list li{border-bottom:1px solid #ddd}
.inline-label-text{padding:4% 4% 4% 6em}
.inline-label-text label{width:5.5em;position:absolute;left:0;border-right:1px solid #d0d0d0;height:1.4em;padding:0 .7em;text-align:justify}
.inline-label-text label:after{display:inline-block;*display:inline;*zoom:1;content:'';width:100%;height:0}
.inline-label-text input{width:100%}
.inline-label-text.label-5{padding-left:7em}
.inline-label-text.label-5 label{width:6.5em}
.item-list{margin:30px 0;padding:0 4%;background:#fff}
.item-list li:last-child{border-bottom:none}
.item-list li a{padding:.8em .1em;color:inherit}
.serif{font-family:Georgia,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif}
.hidden{display:none!important}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.clearfix{*zoom:1}
.clearfix:after,.clearfix:before{content:" ";display:table}
.clearfix:after{clear:both}
.c-blue{color:#bf1a20}
.tac{text-align:center}
.db{display:block}
.dib{display:inline-block;*display:inline;*zoom:1}
.fl{float:left}
.fr{float:right}
.m0{margin:0}
.p0{padding:0}
.mt-0{margin-top:0}
.mr-0{margin-right:0}
.mb-0{margin-bottom:0}
.ml-0{margin-left:0}
.pt-0{padding-top:0}
.pr-0{padding-right:0}
.pb-0{padding-bottom:0}
.pl-0{padding-left:0}
.mt-1{margin-top:1px}
.mr-1{margin-right:1px}
.mb-1{margin-bottom:1px}
.ml-1{margin-left:1px}
.pt-1{padding-top:1px}
.pr-1{padding-right:1px}
.pb-1{padding-bottom:1px}
.pl-1{padding-left:1px}
.mt-2{margin-top:2px}
.mr-2{margin-right:2px}
.mb-2{margin-bottom:2px}
.ml-2{margin-left:2px}
.pt-2{padding-top:2px}
.pr-2{padding-right:2px}
.pb-2{padding-bottom:2px}
.pl-2{padding-left:2px}
.mt-3{margin-top:4px}
.mr-3{margin-right:4px}
.mb-3{margin-bottom:4px}
.ml-3{margin-left:4px}
.pt-3{padding-top:4px}
.pr-3{padding-right:4px}
.pb-3{padding-bottom:4px}
.pl-3{padding-left:4px}
.mt-4{margin-top:6px}
.mr-4{margin-right:6px}
.mb-4{margin-bottom:6px}
.ml-4{margin-left:6px}
.pt-4{padding-top:6px}
.pr-4{padding-right:6px}
.pb-4{padding-bottom:6px}
.pl-4{padding-left:6px}
.mt-5{margin-top:8px}
.mr-5{margin-right:8px}
.mb-5{margin-bottom:8px}
.ml-5{margin-left:8px}
.pt-5{padding-top:8px}
.pr-5{padding-right:8px}
.pb-5{padding-bottom:8px}
.pl-5{padding-left:8px}
.mt-6{margin-top:10px}
.mr-6{margin-right:10px}
.mb-6{margin-bottom:10px}
.ml-6{margin-left:10px}
.pt-6{padding-top:10px}
.pr-6{padding-right:10px}
.pb-6{padding-bottom:10px}
.pl-6{padding-left:10px}
.mt-7{margin-top:12px}
.mr-7{margin-right:12px}
.mb-7{margin-bottom:12px}
.ml-7{margin-left:12px}
.pt-7{padding-top:12px}
.pr-7{padding-right:12px}
.pb-7{padding-bottom:12px}
.pl-7{padding-left:12px}
.mt-8{margin-top:14px}
.mr-8{margin-right:14px}
.mb-8{margin-bottom:14px}
.ml-8{margin-left:14px}
.pt-8{padding-top:14px}
.pr-8{padding-right:14px}
.pb-8{padding-bottom:14px}
.pl-8{padding-left:14px}
.mt-9{margin-top:17px}
.mr-9{margin-right:17px}
.mb-9{margin-bottom:17px}
.ml-9{margin-left:17px}
.pt-9{padding-top:17px}
.pr-9{padding-right:17px}
.pb-9{padding-bottom:17px}
.pl-9{padding-left:17px}
.mt-10{margin-top:20px}
.mr-10{margin-right:20px}
.mb-10{margin-bottom:20px}
.ml-10{margin-left:20px}
.pt-10{padding-top:20px}
.pr-10{padding-right:20px}
.pb-10{padding-bottom:20px}
.pl-10{padding-left:20px}
.mt-11{margin-top:23px}
.mr-11{margin-right:23px}
.mb-11{margin-bottom:23px}
.ml-11{margin-left:23px}
.pt-11{padding-top:23px}
.pr-11{padding-right:23px}
.pb-11{padding-bottom:23px}
.pl-11{padding-left:23px}
.mt-12{margin-top:26px}
.mr-12{margin-right:26px}
.mb-12{margin-bottom:26px}
.ml-12{margin-left:26px}
.pt-12{padding-top:26px}
.pr-12{padding-right:26px}
.pb-12{padding-bottom:26px}
.pl-12{padding-left:26px}
.mt-13{margin-top:30px}
.mr-13{margin-right:30px}
.mb-13{margin-bottom:30px}
.ml-13{margin-left:30px}
.pt-13{padding-top:30px}
.pr-13{padding-right:30px}
.pb-13{padding-bottom:30px}
.pl-13{padding-left:30px}
.mt-14{margin-top:34px}
.mr-14{margin-right:34px}
.mb-14{margin-bottom:34px}
.ml-14{margin-left:34px}
.pt-14{padding-top:34px}
.pr-14{padding-right:34px}
.pb-14{padding-bottom:34px}
.pl-14{padding-left:34px}
.mt-15{margin-top:38px}
.mr-15{margin-right:38px}
.mb-15{margin-bottom:38px}
.ml-15{margin-left:38px}
.pt-15{padding-top:38px}
.pr-15{padding-right:38px}
.pb-15{padding-bottom:38px}
.pl-15{padding-left:38px}
.mt-16{margin-top:42px}
.mr-16{margin-right:42px}
.mb-16{margin-bottom:42px}
.ml-16{margin-left:42px}
.pt-16{padding-top:42px}
.pr-16{padding-right:42px}
.pb-16{padding-bottom:42px}
.pl-16{padding-left:42px}
.mt-17{margin-top:46px}
.mr-17{margin-right:46px}
.mb-17{margin-bottom:46px}
.ml-17{margin-left:46px}
.pt-17{padding-top:46px}
.pr-17{padding-right:46px}
.pb-17{padding-bottom:46px}
.pl-17{padding-left:46px}
.mt-18{margin-top:50px}
.mr-18{margin-right:50px}
.mb-18{margin-bottom:50px}
.ml-18{margin-left:50px}
.pt-18{padding-top:50px}
.pr-18{padding-right:50px}
.pb-18{padding-bottom:50px}
.pl-18{padding-left:50px}
.mt-19{margin-top:55px}
.mr-19{margin-right:55px}
.mb-19{margin-bottom:55px}
.ml-19{margin-left:55px}
.pt-19{padding-top:55px}
.pr-19{padding-right:55px}
.pb-19{padding-bottom:55px}
.pl-19{padding-left:55px}
.mt-20{margin-top:60px}
.mr-20{margin-right:60px}
.mb-20{margin-bottom:60px}
.ml-20{margin-left:60px}
.pt-20{padding-top:60px}
.pr-20{padding-right:60px}
.pb-20{padding-bottom:60px}
.pl-20{padding-left:60px}
.t--15{top:-15px}
.t--14{top:-14px}
.t--13{top:-13px}
.t--12{top:-12px}
.t--11{top:-11px}
.t--10{top:-10px}
.t--9{top:-9px}
.t--8{top:-8px}
.t--7{top:-7px}
.t--6{top:-6px}
.t--5{top:-5px}
.t--4{top:-4px}
.t--3{top:-3px}
.t--2{top:-2px}
.t--1{top:-1px}
.t-0{top:0}
.t-1{top:1px}
.t-2{top:2px}
.t-3{top:3px}
.t-4{top:4px}
.t-5{top:5px}
.t-6{top:6px}
.t-7{top:7px}
.t-8{top:8px}
.t-9{top:9px}
.t-10{top:10px}
.t-11{top:11px}
.t-12{top:12px}
.t-13{top:13px}
.t-14{top:14px}
.t-15{top:15px}
.r--15{right:-15px}
.r--14{right:-14px}
.r--13{right:-13px}
.r--12{right:-12px}
.r--11{right:-11px}
.r--10{right:-10px}
.r--9{right:-9px}
.r--8{right:-8px}
.r--7{right:-7px}
.r--6{right:-6px}
.r--5{right:-5px}
.r--4{right:-4px}
.r--3{right:-3px}
.r--2{right:-2px}
.r--1{right:-1px}
.r-0{right:0}
.r-1{right:1px}
.r-2{right:2px}
.r-3{right:3px}
.r-4{right:4px}
.r-5{right:5px}
.r-6{right:6px}
.r-7{right:7px}
.r-8{right:8px}
.r-9{right:9px}
.r-10{right:10px}
.r-11{right:11px}
.r-12{right:12px}
.r-13{right:13px}
.r-14{right:14px}
.r-15{right:15px}
.b--15{bottom:-15px}
.b--14{bottom:-14px}
.b--13{bottom:-13px}
.b--12{bottom:-12px}
.b--11{bottom:-11px}
.b--10{bottom:-10px}
.b--9{bottom:-9px}
.b--8{bottom:-8px}
.b--7{bottom:-7px}
.b--6{bottom:-6px}
.b--5{bottom:-5px}
.b--4{bottom:-4px}
.b--3{bottom:-3px}
.b--2{bottom:-2px}
.b--1{bottom:-1px}
.b-0{bottom:0}
.b-1{bottom:1px}
.b-2{bottom:2px}
.b-3{bottom:3px}
.b-4{bottom:4px}
.b-5{bottom:5px}
.b-6{bottom:6px}
.b-7{bottom:7px}
.b-8{bottom:8px}
.b-9{bottom:9px}
.b-10{bottom:10px}
.b-11{bottom:11px}
.b-12{bottom:12px}
.b-13{bottom:13px}
.b-14{bottom:14px}
.b-15{bottom:15px}
.l--15{left:-15px}
.l--14{left:-14px}
.l--13{left:-13px}
.l--12{left:-12px}
.l--11{left:-11px}
.l--10{left:-10px}
.l--9{left:-9px}
.l--8{left:-8px}
.l--7{left:-7px}
.l--6{left:-6px}
.l--5{left:-5px}
.l--4{left:-4px}
.l--3{left:-3px}
.l--2{left:-2px}
.l--1{left:-1px}
.l-0{left:0}
.l-1{left:1px}
.l-2{left:2px}
.l-3{left:3px}
.l-4{left:4px}
.l-5{left:5px}
.l-6{left:6px}
.l-7{left:7px}
.l-8{left:8px}
.l-9{left:9px}
.l-10{left:10px}
.l-11{left:11px}
.l-12{left:12px}
.l-13{left:13px}
.l-14{left:14px}
.l-15{left:15px}
.w-1{width:1%}
.w-2{width:2%}
.w-3{width:3%}
.w-4{width:4%}
.w-5{width:5%}
.w-6{width:6%}
.w-7{width:7%}
.w-8{width:8%}
.w-9{width:9%}
.w-10{width:10%}
.w-11{width:11%}
.w-12{width:12%}
.w-13{width:13%}
.w-14{width:14%}
.w-15{width:15%}
.w-16{width:16%}
.w-17{width:17%}
.w-18{width:18%}
.w-19{width:19%}
.w-20{width:20%}
.w-21{width:21%}
.w-22{width:22%}
.w-23{width:23%}
.w-24{width:24%}
.w-25{width:25%}
.w-26{width:26%}
.w-27{width:27%}
.w-28{width:28%}
.w-29{width:29%}
.w-30{width:30%}
.w-31{width:31%}
.w-32{width:32%}
.w-33{width:33%}
.w-34{width:34%}
.w-35{width:35%}
.w-36{width:36%}
.w-37{width:37%}
.w-38{width:38%}
.w-39{width:39%}
.w-40{width:40%}
.w-41{width:41%}
.w-42{width:42%}
.w-43{width:43%}
.w-44{width:44%}
.w-45{width:45%}
.w-46{width:46%}
.w-47{width:47%}
.w-48{width:48%}
.w-49{width:49%}
.w-50{width:50%}
.w-51{width:51%}
.w-52{width:52%}
.w-53{width:53%}
.w-54{width:54%}
.w-55{width:55%}
.w-56{width:56%}
.w-57{width:57%}
.w-58{width:58%}
.w-59{width:59%}
.w-60{width:60%}
.w-61{width:61%}
.w-62{width:62%}
.w-63{width:63%}
.w-64{width:64%}
.w-65{width:65%}
.w-66{width:66%}
.w-67{width:67%}
.w-68{width:68%}
.w-69{width:69%}
.w-70{width:70%}
.w-71{width:71%}
.w-72{width:72%}
.w-73{width:73%}
.w-74{width:74%}
.w-75{width:75%}
.w-76{width:76%}
.w-77{width:77%}
.w-78{width:78%}
.w-79{width:79%}
.w-80{width:80%}
.w-81{width:81%}
.w-82{width:82%}
.w-83{width:83%}
.w-84{width:84%}
.w-85{width:85%}
.w-86{width:86%}
.w-87{width:87%}
.w-88{width:88%}
.w-89{width:89%}
.w-90{width:90%}
.w-91{width:91%}
.w-92{width:92%}
.w-93{width:93%}
.w-94{width:94%}
.w-95{width:95%}
.w-96{width:96%}
.w-97{width:97%}
.w-98{width:98%}
.w-99{width:99%}
.w-100{width:100%}
.fzr-7{font-size:.7rem}
.fzr-8{font-size:.8rem}
.fzr-9{font-size:.9rem}
.fzr-10{font-size:1rem}
.fzr-11{font-size:1.1rem}
.fzr-12{font-size:1.2rem}
.fzr-13{font-size:1.3rem}
.fzr-14{font-size:1.4rem}
.fzr-15{font-size:1.5rem}
.fzr-16{font-size:1.6rem}
.fzr-17{font-size:1.7rem}
.fzr-18{font-size:1.8rem}
.fzr-19{font-size:1.9rem}
.fzr-20{font-size:2rem}
.fze-7{font-size:.7em}
.fze-8{font-size:.8em}
.fze-9{font-size:.9em}
.fze-10{font-size:1em}
.fze-11{font-size:1.1em}
.fze-12{font-size:1.2em}
.fze-13{font-size:1.3em}
.fze-14{font-size:1.4em}
.fze-15{font-size:1.5em}
.fze-16{font-size:1.6em}
.fze-17{font-size:1.7em}
.fze-18{font-size:1.8em}
.fze-19{font-size:1.9em}
.fze-20{font-size:2em}
.fz-12{font-size:12px}
.fz-13{font-size:13px}
.fz-14{font-size:14px}
.fz-15{font-size:15px}
.fz-16{font-size:16px}
.fz-17{font-size:17px}
.fz-18{font-size:18px}
.fz-19{font-size:19px}
.fz-20{font-size:20px}
.fz-21{font-size:21px}
.fz-22{font-size:22px}
.fz-23{font-size:23px}
.fz-24{font-size:24px}
.fz-25{font-size:25px}
.fz-26{font-size:26px}
.fz-27{font-size:27px}
.fz-28{font-size:28px}
.fz-29{font-size:29px}
.fz-30{font-size:30px}
.c-0{color:#000}
.c-3{color:#333}
.c-6{color:#666}
.c-9{color:#999}
.c-c{color:#ccc}
.c-f{color:#fff}
.dot-small{width:6px;height:6px;border-radius:3px}
.dot-medium{width:8px;height:8px;border-radius:4px}
.dot-large{width:10px;height:10px;border-radius:5px}
.fwb{font-weight:700}
.por{position:relative}
.r1{position:absolute;top:0;right:1em}
.bb-light,.panel-header{border-bottom:1px solid #ddd;padding-bottom:.3em}
.br-light{border-right:1px solid #ddd;padding-left:.3em;padding-right:.3em}
.cc{border-radius:50%;overflow:hidden}