<div style="height:200px;width:400px;padding:30px">
	<div style="margin:15px">
		<label for="">卖出单价：</label>
		<input style="padding:5px" type="text" name="price" id="price">元
	</div>
	<div style="margin:15px">
		<label for="">卖出金额：</label>
		<input style="padding:5px" type="text" name="amount" id="amount">元
	</div>
	<div style="margin:15px">
		<label for="">收益率：</label>
		<input style="padding:5px" type="text" name="rate" id="rate">%
	</div>
	<input type="hidden" name="id" id="id" value="{$id}">
	<input type="hidden" name="pid" id="pid" value="{$pid}">
	<div style="padding-left:84px"><button class="btn" href="{:U('sell')}" id="btn-over">确定</button></div>
</div>
<script>
	$('#btn-over').click(function() {
		var id = $('#id').val();
		var pid = $('#pid').val();
		var amount = $('#amount').val();
		var price = $('#price').val();
		var rate = $('#rate').val();
		$.post($(this).attr('href'), {'id':id, 'pid':pid, 'amount':amount, 'price':price, 'rate':rate}, function(data) {
			if (data.status == '1') {
				alert(data.info);
				window.location.reload();
			} else {
				alert(data.info);
			}
		});
		return false;
	});
</script>