<extend name="Base/common" />
<block name="header">
</block>

<block name="body">
<div class="main">
	<div class="content">
<section>
<div class="usercontent clearfix">
<include file="Public/sidebar"/>
		<div class="mcenter-right" id="mcenter-right">
	<div class="ShowPath">
		您现在的位置： 用户中心&nbsp;&gt;&nbsp;消息中心&nbsp;&gt;&nbsp;收件箱
	</div>
	<div>
		<div class="bs-docs-example" style="border: none;">
			<div class="con_btn">
				<div class="nav-bar">
					<div class="content">
						<ul class="menu">
							<li <if condition="$msgtype eq 'newpm'"> class="active" <else/> class=""</if>>
								<a href="{:U('Message/newpm')}">私信
									<if condition="$msgcount.msgcount1 gt 0"><span class="badge badge-important">{$msgcount.msgcount1}</span></if></a>
							</li>
							<li <if condition="$msgtype eq 'invest'"> class="active" <else/> class=""</if>>
								<a href="{:U('Message/invest')}">项目收藏
								<if condition="$msgcount.msgcount3 gt 0"><span class="badge badge-important">{$msgcount.msgcount3}</span></if></a>
							</li>
							<li <if condition="$msgtype eq 'sys'"> class="active" <else/> class=""</if>>
								<a href="{:U('Message/sys')}">系统通知
								<if condition="$msgcount.msgcount4 gt 0"><span class="badge badge-important">{$msgcount.msgcount4}</span></if></a>
							</li>
						</ul>
	
					</div>
					</div>
	
				<div class="clear"></div>
			</div>
    	<!-- <div class="ids">
			<button class="btn ajax-post confirm" target-form="ids" url="{:U('setStatus?Model=Message&status=2&type=-1')}">批量删除</button>
    	</div>
 -->		<!-- 数据列表 -->
		<div class="data-table">
			<table class="tt">
			    <thead>
			        <tr>
					<!-- <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th> -->
					<th class="">序号</th>
					<th class="">消息内容</th>
					<th class="">发件人</th>
					<th class="">发送时间</th>
					<th class="">操作</th>
					</tr>
			    </thead>
			    <tbody>
					<volist name="messages" id="vo">
					<tr>
			      <!-- <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td> -->
						<td>{$i} </td>
						<td class="text-left" style="width:450px">
							<if condition="$vo.new eq 1"><span class="label label-important">New</span></if>{$vo.content}</td>
						<td>{$vo.user_name}</td>
						<td><span>{$vo.add_time|time_format}</span></td>
					<td>
						<if condition="$msgtype eq 'newpm'">
							<a href="{:U('Message/view?type='.$msgtype.'&id='.$vo['id'])}">回复</a></if>
						<a href="{:U('setStatus?Model=Message&type=-1&status=2&ids='.$vo['id'])}" class="confirm ajax-get">删除</a>
		      </td>
					</tr>
					</volist>
				</tbody>
			    </table>
	
		</div>
		<!-- 分页 -->
		<div class="page">{$_page}</div>
		<!-- /分页 -->
	</div>
	</div>
		</div>
		</div>
</section>
	</div>
</div>
</block>

<block name="side"></block>
<block name="script">
	<script type="text/javascript">
	//导航高亮
	highlight_subnav('{:U('Message/newpm')}');
	$.get('{:U('Message/readmessage?msgtype='.$msgtype)}', function(data) {}, 'json');
	</script>
</block>
