<extend name="Base/common" />
<block name="style">
<link rel="stylesheet" type="text/css" href="__M_CSS__/login.css" />
</block>

<block name="body">
<section id="news_nav">
  <a href="{:U('Message/index')}">私信</a>
  <a href="{:U('Message/project')}" class="physical_nav1">项目</a>
  <a href="{:U('Message/system')}">通知</a>
</section>
<div class="news_t1">
  <div class="news_t2">
    <article>
      <div class="article-img-pane">
        <img src="__M_IMG__/img9.jpg">
      </div>
      <div class="a-meta">
        <span>梦飞</span> <i class="fa fa-comment"></i> 刚刚
      </div>
      <h2>留守儿童</h2>
    </article>
    <article>
      <div class="article-img-pane">
        <img src="__M_IMG__/img9.jpg">
      </div>
      <div class="a-meta">
        <span>8787999</span> <i class="fa fa-comment"></i> 55分钟前
      </div>
      <h2>你好！</h2>
    </article>
    <article>
      <div class="article-img-pane">
        <img src="__M_IMG__/img9.jpg">
      </div>
      <div class="a-meta">
        <span>银魂997</span> <i class="fa fa-comment"></i> 2015-01-09
      </div>
      <h2>知道吗？最终热度排名top10的梦...</h2>
    </article>
    <article>
      <div class="article-img-pane">
        <img src="__M_IMG__/img9.jpg">
      </div>
      <div class="a-meta">
        <span>不凡游戏</span> <i class="fa fa-comment"></i> 2015-01-07
      </div>
      <h2>不凡游戏网为您提供最新花瓣下载...</h2>
    </article>
    <article>
      <div class="article-img-pane">
        <img src="__M_IMG__/img9.jpg">
      </div>
      <div class="a-meta">
        <span>wwv</span> <i class="fa fa-comment"></i> 2015-01-01
      </div>
      <h2>超过三亿人使用的手机应用支持发...</h2>
    </article>
    <article>
      <div class="article-img-pane">
        <img src="__M_IMG__/img9.jpg">
      </div>
      <div class="a-meta">
        <span>一塔湖图众筹助手</span> <i class="fa fa-comment"></i> 2015-01-01
      </div>
      <h2>有什么需要都可以联系我。</h2>
    </article>
    <article>
      <div class="article-img-pane">
        <img src="__M_IMG__/img9.jpg">
      </div>
      <div class="a-meta">
        <span>一塔湖图众筹助手</span> <i class="fa fa-comment"></i> 2015-01-01
      </div>
      <h2>有什么需要都可以联系我。</h2>
    </article>
  </div>
</div>
</block>