<extend name="Base/common" />
<block name="header">
</block>

<block name="body">
<style type="text/css">
	span {
		font-weight: bold;
	}
</style>
	<div style="margin:40px auto;width:700px;line-height:30px;font-size:14px;min-height:400px">
		抱歉！我们没有统计到您的投资信息，如果您还不是一塔湖图众筹会员，请您先 <a style="font-size:24px" href="{:U('User/register')}">注册一塔湖图众筹会员</a> <br>并以微信（<span style="color:red;font-size:25px">claudetong</span>） 或手机（<span style="color:red;font-size:25px">13757154923</span>）的方式联系我们。
	</div>
</block>

<block name="side"> </block>
<block name="script">
</block>