<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1">
<title>一塔湖图众筹</title>
<link href="__M_CSS__/login.css" rel="stylesheet" type="text/css">
<link href="__M_CSS__/css.css" rel="stylesheet" type="text/css">
<link href="__M_CSS__/header.css" rel="stylesheet" type="text/css">
</head>
<body bgcolor="#f3f3f3">
<div class="wrapper">
	<div class="user_yhzx">
		 <div class="user_yhzx1">
		 	<h1><a href="index.html"></a></h1>
			<h2><a href="news.html"></a></h2>
			<h3></h3>
		 </div>
		 
		 <div class="user_yhzx2">
		 	<a href="user_data.html"><img src="imgs/img9.jpg" height="80" width="80"></a>
			<h2>用户名</h2>
			
		 </div>
		 
		 <div class="user_yhzx3">
			<a href="#">认证投资人</a>
		 </div>
				
				
	</div>
	
	<div  class="user_yhzx4">
		<ul>
			<li><a class="user_physical_aa">您已支持：<b>45353</b>元 </a></li>
			<li><a href="user_physical-z.html">您已拥有：<b>8</b>家公司股权 </a></li>
			<li><a href="user_physical_1.html">您已支持：<b>3</b>产品梦想 </a></li>
		</ul>
	
	
	</div>
	
	
	
	
	
	
	<div class="user_bj">
		<ul>
		<li class="tbl-cell">
        	<a href="user_physical-z.html">
            	<h1><img src="images/ico1.png"></h1>
                <span>股权</span>
            </a>
        </li>
		
		<li class="tbl-cell">
        	<a href="user_physical_1.html">
            	<h1><img src="images/ico2.png"></h1>
                <span>实物</span>
            </a>
        </li>
		
		<li class="tbl-cell bfzs">
        	<a href="user_purse.html" class="tal_user">
            	<h1><img src="images/ico3.png"></h1>
                <span>钱包</span>
            </a>
        </li>
		</ul>
		
		
		<ul>
		<li class="tbl-cell">
        	<a href="#">
            	<h1><img src="images/ico4.png"></h1>
                <span>基金</span>
            </a>
        </li>
		
		<li class="tbl-cell">
        	<a href="user_security.html">
            	<h1><img src="images/ico5.png"></h1>
                <span>安全</span>
            </a>
        </li>
		
		<li class="tbl-cell bfzs">
        	<a href="#" class="tal_user">
            	<h1><img src="images/ico6.png"></h1>
                <span>其它</span>
            </a>
        </li>
		</ul>
	</div>
	
	
</div>



    






</body>
</html>