<extend name="Base/common"/>
<block name="style">
    <link href="__M_CSS__/login.css" rel="stylesheet" type="text/css">
    <link href="__CSS__/validform.css" rel="stylesheet" type="text/css">
</block>

<block name="body">
    <section id="jm_main">
        <div id="jm_logo">
            <img width="100%" src="__M_IMG__/jm-logo.png">
        </div>

        <div class="jm_login login-form-container">
            <form method="post" action="{:U()}">
                <ul>
                    <li>
                        <div class="bind-header">
                            <div class="h1">你的微信还未绑定一塔湖图众筹帐号</div>
                            <div class="h2">请输入帐号密码，完成绑定</div>
                        </div>
                    </li>
                    <li>
                        <div class="text" style="left: 0px;">
                            <i class="user"></i>
                            <input name="username" type="text" placeholder="用户名/手机号" maxlength="15" datatype="*"
                                   nullmsg="请输入用户名或手机号码" errormsg="用户名或密码输入不正确">
                        </div>
                    </li>
                    <li>
                        <div class="text">
                            <i class="lock"></i>
                            <input name="password" datatype="*" nullmsg="请输入密码" errormsg="密码输入不正确" type="password"
                                   placeholder="密码">
                        </div>
                    </li>
                    <li>
                        <div class="error-box" style="clear:both;">
                            <span id="errormessage"></span>
                        </div>
                    </li>
                    <li style="display: none;">
                        <div class="social-login-box">
                            <a href="#" title="微信登陆" class="wx-login-button">微信登陆</a>
                        </div>
                    </li>

                    <input type="submit" class="btn login-submit-btn" value="登录">
                    <li class="zcdl_ys">
                        <div class="lft">
                            <a href="forget.html">忘记密码</a>
                        </div>
                        <div class="rgt">
                            <a href="register.html">立即注册</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>

    </section>
</block>
<block name="script">
    <script type="text/javascript" src="__STATIC__/Validform_v5.3.2.js"></script>
    <script type="text/javascript">
        $(function () {
            $("ul li input").each(function () {
                $(this).click(function () {
                    $(this).parent().removeClass('text').addClass('text errorAnimate');
                    $(this).parent().parent().siblings().children().removeClass('errorAnimate');
                })
            });

            $('form').Validform({
                tiptype: function (msg, o, cssctl) {
                    var objtip = $("#errormessage");
                    o.obj.parents("div").removeClass('errorAnimate');
                    objtip.text('');
                    if (o.type == 3) {
                        o.obj.parents("div").addClass('errorAnimate');
                        objtip.text(msg);
                    }
                }, ajaxPost: true,
                beforeSubmit: showWaiting,
                callback: function (data) {
                    if (data.status == 1) {
                        window.location.href = sessionStorage.getItem('loginRedirect') || data.url || '/';
                        sessionStorage.removeItem('loginRedirect')
                    }
                }
            });
            var isWeixin = navigator.userAgent.toLowerCase().indexOf('micromessenger') != -1;
            isWeixin = false;

            if (isWeixin) {
                var $loginFormContainer = $('.login-form-container').addClass('weixin');
                var getQS = function (key) {
                    var value = location.pathname.match(new RegExp('/' + key + '/([^/\.]+)'));
                    return value && value[1];
                };
                var type = getQS('type');
                if (type === 'bind') {
                    $loginFormContainer.addClass('bind');

                    var data = {
                        openid: getQS('openid')
                    };

                    $('.login-submit-btn').val('绑定').click(function () {
                        data.username = $('input[name=username]').val();
                        data.password = $('input[name=password]').val();
                        if (!data.username) {return}
                        if (!data.password) {return}
                        var $button = $(this);
                        $button.attr('disabled', 'true').addClass('disabled').text('正在绑定');
                        $.getJSON('/weixin/bindAccount', data).then(function (json) {
                            console.log(json);
                            if (json.success) {
                                $button.text('绑定成功 √');
                                location.href = json.url || '/MCenter/';
                                return 'success';
                            } else {
                                layer.open({
                                    content: json.info,
                                    style: 'text-align:center;',
                                    time: 1
                                });
                                return json.info
                            }
                        }, function () {
                            return 'fail';
                        }).then(function (result) {
                            if (result === 'success') {

                            } else {
                                $button.removeAttr('disabled').removeClass('disabled').text('绑定')
                            }
                        });
                        return false;
                    });
                    $('form').submit(function () {
                        return false;
                    })
                } else {
                    $('.wx-login-button').click(function () {
                        $.getJSON('/weixin/loginWxLink').then(function (json) {
                            if (json.success) {
                                location.href = json.url+'&response_type=code';
                            }
                        });

                    });
                }

            } else {
                $('.social-login-box').addClass('hidden');
            }
        });
    </script>
</block>