<extend name="Base/common"/>

<block name="header">
    <link rel="stylesheet" type="text/css" href="__CSS__/ProductOrder/common.css">
    <style type="text/css">

    </style>
</block>

<block name="side">
</block>

<block name="body">
	<div class="content">
		<div class="hero-unit ">
			
		  <h1>无法购买</h1>
		  <br /><br /><br />
		  <p>您购买的众筹商品已经没有名额。</p>
		  <p>
		    <a class="btn btn-primary btn-large" href="{:U('product/index')}">
		      继续浏览项目
		    </a>
		  </p>
		</div>
	</div>

</block>
<block name="script">

        <script type="text/javascript" src="__STATIC__/Validform_v5.3.2.js"></script>
  <script type="text/javascript">
  	$(document).ready(function(){

  	});
  </script>
</block>