<extend name="Base/common"/>
<block name="style">
    <style>
        .body {
            padding: 5%;
            font-size: 16px;
            font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif
        }
        p {
            margin: 1em 0;
        }
        .qr-box {
            text-align: center;
        }
        .qr-img {
            width: 80%;
            max-width: 360px;
        }
        a {
            color: #cb0101;
        }
        .footer {
            margin-top: 5%;
            width: 100%;
            bottom: 0;
            text-align: center;
            color: #C8C8C8;
            line-height: 3;
            font-size: 14px;
        }
    </style>
</block>
<block name="body">
    <div class="body">
        <p>官方微信：</p>
        <p class="qr-box"><img class="qr-img" src="/Public/Mobile/images/weixin.jpg"></p>
        <p>新浪微博：<a href="http://weibo.com/5724180766">一塔湖图众筹</a></p>
        <p>联系电话：400-806 8787</p>
        <p>联系地址：北京中关村互联网教育创新中心 1701 </p>
        <p>邮箱地址：<a href="mailto:bp@1tht.cn">bp@1tht.cn</a></p>
    </div>
    <div class="footer">
        Copyright © 2015 北京一塔湖图众筹科技有限公司 京ICP备15053117号-2
    </div>
</block>
