<extend name="Public/base"/>
<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/colorbox.css">
</block>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
      <a class="btn" href="{:U('add')}">新 增</a>
      <a class="btn" href="{:U('exploadUsersList')}">导 出</a>
    </div>
    <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="">UID</th>
		<th class="">昵称</th>
		<th class="">积分</th>
		<th class="">登录次数</th>
		<th class="">最后登录时间</th>
		<th class="">最后登录IP</th>
		<th class="">投资人身份</th>
		<th class="">领投人身份</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
			<volist name="_list" id="vo">
			<tr>
				<td>{$vo.id} </td>
				<td>{$vo.nickname}</td>
				<td>{$vo.score}</td>
				<td>{$vo.login}</td>
				<td><span>{$vo.last_login_time|time_format}</span></td>
				<td><span>{:long2ip($vo['last_login_ip'])}</span></td>
				<td><a href="{:U('Member/review?type=investor&id=' . $vo['id'])}">{$vo.status2_text}</a></td>
				<td><a href="{:U('Member/applyLead?type=investor&id=' . $vo['id'])}">{$vo.status4_text}</a></td>
				<td>
					<div class="btn-group ">
						<eq name="vo.status" value="1">
						<a href="#" data-url="{:U('Member/operate?method=forbidUser&status=0&id='.$vo['id'])}" class="ajax-get btn ui-switch  btn-mini">禁用</a>
						<else/>
						<a href="#" data-url="{:U('Member/operate?method=forbidUser&status=1&id='.$vo['id'])}" class="ajax-get btn ui-switch  btn-mini">激活</a>
						</eq>
						<a href="{:U('Member/profile?uid='.$vo['id'])}" data-url="" class="btn btn-mini change-passwoed">密码重置</a>
					</div>
			    </td>
			</tr>
			</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script src="__JS__/jquery.colorbox-min.js"></script>
	<script type="text/javascript">

	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Member/index')}');

    //激活 禁用
	var resultStatus = null;
	$('.ui-switch').click(function(){
		var textPrompt = $(this).text();
		if (textPrompt == '禁用') {
			if (confirm("是否启用本账户")) {
				resultStatus = true;
			};
		}else{
			if (confirm("是否禁用本账户")) {
				resultStatus = true;
			};
		};

		if (resultStatus == true) {
			$.get($(this).data("url"),function(data){
				if (data.status == true) {
					alert('修改成功');
					window.location.reload();
				}else{
					alert('修改失败');
				};
			});
		};
	});

	// 改变密码
	$(".change-passwoed").colorbox();
	</script>
</block>
