<extend name="Public/base" />

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>新增资讯</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:U()}" method="post" class="form-horizontal">
		<!-- 基础文档模型 -->
		<div class="form-item cf">
			<label class="item-label">标题<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="title" value="{$infomation.title}">
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">概要<span class="check-tips"></span></label>
			<div class="controls">
        		<label class="textarea input-large">
                        <textarea rows="" cols="" name="description">{$infomation.description}</textarea>
           		</label>                    
           	</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">封面<span class="check-tips"></span></label>
			<div class="controls">
				<input type="file" id="upload_picture_cover">
				<input type="hidden" name="cover" id="cover_id_cover" value="{$infomation['cover']}"/>
				<div class="upload-img-box">
					<notempty name="infomation['cover']">
						<div class="upload-pre-item"><img src="{$infomation['cover']|get_cover='path'}"/></div>
					</notempty>
				</div>
			</div>
		</div>

    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/utf8-php/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/utf8-php/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/utf8-php/lang/zh-cn/zh-cn.js"></script>
                <div class="form-item cf">
			<label class="item-label">内容<span class="check-tips"></span></label>
			<div class="controls" style="width:730px;">
				<label class="textarea">
             		<textarea id="title_content" name="content">{$infomation.content}</textarea>
                        {:hook('adminArticleEdit', array('name'=>'content','value'=>$infomation['content']))}
        		</label>
			</div>
		</div>
    <script>
        UE.getEditor('title_content');
    </script>
		<div class="form-item cf">
			<label class="item-label">创建时间<span class="check-tips"></span></label>
			<div class="controls">
          		 <input type="text" name="pub_time" class="text time" value="{$infomation.pub_time|time_format}" placeholder="请选择日期" />
			</div>
		</div>
		
		<div class="form-item cf">
			<label class="item-label">来源<span class="check-tips"></span></label>
			<div class="controls">
          		 <input type="text" class="text input-large" name="info_from" value="{$infomation.info_from}">
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">作者<span class="check-tips"></span></label>
			<div class="controls">
          		 <input type="text" class="text input-large" name="author" value="{$infomation.author}">
			</div>
		</div>
		
		<div class="form-item cf">
			<label class="item-label">浏览量<span class="check-tips"></span></label>
			<div class="controls">
          		 <input type="text" class="text input-mid" name="view" value="{$infomation.view}">
			</div>
		</div>
				<div class="form-item cf">
			<label class="item-label">评论数<span class="check-tips"></span></label>
			<div class="controls">
          		 <input type="text" class="text input-mid" name="comment" value="{$infomation.comment}">
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">优先级<span class="check-tips">(越高排序越靠前)</span></label>
			<div class="controls">
          		 <input type="text" class="text input-mid" name="level" value="{$infomation.level}">
			</div>
		</div>
		
		<div class="form-item cf">
			<label class="item-label">可见性1<span class="check-tips"></span></label>
			<div class="controls">
          		<label class="textarea input-large">
                	<label class="radio">
                		<input type="radio" value="0" <eq name="infomation.display" value="0">checked</eq> name="display">所有人
          			</label>
          			<label class="radio">
                		<input type="radio" value="1" <eq name="infomation.display" value="1">checked</eq> name="display">所有投资人
          			</label>
          		</label>
			</div>
		</div>
		

		
		<div class="form-item cf">
			<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<a class="btn btn-return" href="{:U('Infomation/index')}">返 回</a>
			<input type="hidden" name="id" value="{$infomation.id|default=''}"/>
		</div>
	</form>
	</div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

	//上传图片
	/* 初始化上传插件 */
	$("#upload_picture_cover").uploadify({
	    "height"          : 30,
	    "swf"             : "__STATIC__/uploadify/uploadify.swf",
	    "fileObjName"     : "download",
	    "buttonText"      : "上传图片",
	    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
	    "width"           : 120,
	    'removeTimeout'	  : 1,
	    'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
	    "onUploadSuccess" : uploadPicture{$field.name},
	    'onFallback' : function() {
	        alert('未检测到兼容版本的Flash.');
	    }
	});
	function uploadPicture{$field.name}(file, data){
		var data = $.parseJSON(data);
		var src = '';
	    if(data.status){
	    	$("#cover_id_cover").val(data.id);
	    	src = data.url || '__ROOT__' + data.path
	    	$("#cover_id_cover").parent().find('.upload-img-box').html(
	    		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
	    	);
	    } else {
	    	updateAlert(data.info);
	    	setTimeout(function(){
	            $('#top-alert').find('button').click();
	            $(that).removeClass('disabled').prop('disabled',false);
	        },1500);
	    }
	}

	$('#submit').click(function(){
		$('#form').submit();
	});

	$(function(){
		//导航高亮
	    highlight_subnav("{:U('Infomation/index')}");
		
	    $('.time').datetimepicker({
	        format: 'yyyy-mm-dd hh:ii',
	        language:"zh-CN",
	        minView:2,
	        autoclose:true
	    });
	    showTab();
	
	
	});
</script>
</block>
