<div class="">
    <div class="xmsteps">
        <div class="content">
            <div class="nav-steps clearfix">
                <ul>
                    <li class="step1 ">项目及发起人信息</li>
                    <li class="step2">回报设置</li>
                    <li class="step3">确认信息</li>
                    <li class="step4">完成</li>
                    <li style="display:none" id="get-nav-flage" data-navflage="{$navFlage}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var navFlage = $("#get-nav-flage").data('navflage');
        var newNavFlage = '.'+navFlage;
        $(newNavFlage).attr('class','finish');
    });
</script>