<style>
	.tea_info { width: 700px; padding: 0 15px;}
	.tea_info p {margin-bottom: 5px;line-height: 25px;font-size: 16px}
	.tea_info p a{font-size: 20px}
	.tea_info p.title {font-size:16px;}
	.tea_info div.pay_way{
		margin:0 20px; border: 2px solid #eee; border-radius: 8px; 
		padding: 10px;color: #fff; background-color: #999;}
	.tea_info span.remark_info {padding:10px 20px; font-weight: bolder; color:#f37462;}
</style>
<div class="tea_info">
	<p>&nbsp;</p>
	<p class="title">为方便您支付我们提供以下几种方式，您可以任意选择其一：</p>
	<div class="pay_way">
		<p>支付宝 ：<b>235360@qq.com 陈宇</b></p>
		<p>汇款方式：<b>6226 2277 0247 2329</b> 民生银行杭州天目山支行 陈宇</p>
		<p>微信支付：<b>jnfqchen</b></p>
		<p>人工服务：添加 <b><span style="font-size:20px">微助理</span></b> 微信号：<b>vzhuli13588706186</b></p>
		<p>微店支付：<b>点这里进入<a href="http://wd.koudai.com/item.html?itemID=234012378&p=-1&hd_back=1" target="_bank">江南愤青的微店</a></b></p>
	</div>
	<p>为确保您能第一时间享受到茶馆投资人的各项福利，请务必在支付时填写如下信息：<br>
		<span class="remark_info">支持江南1535茶馆  您的姓名  您的手机 身份证号。</span></p>
	<p>收到款项后，我们的工作人员会在3个工作日内与您取得联系。谢谢您的支持。</p>
</div>